{% extends 'auction/base_email_template.html' %}
{% load static %}
{% block content %}
{% autoescape off %}

<section style="font-size: 16px; margin-bottom: 4rem;">
  <p>Hello <span class="text-weight-bold">{{ auction.clinic.first_name }}</span>,</p>

  <p>You were the lowest offer at the end of a listing using The Traveling Therapist. Congratulations!</p>
  <p>Look for an email from us shortly to match you with the clinic. From that point it is your responsibility to
    contact the clinic and arrange some of the details of your job like how you will be paid (cheque, deposit, etc.)</p>

  <p>Thank you and we look forward to having you use our service again soon,</p>
  <p style="font-weight: 700; padding-top: 0rem; margin-top: 0; line-height: 0;">The Traveling Therapist Team</p>

</section>

{% endautoescape %}
{% endblock %}