{% extends 'auction/base_email_template.html' %}
{% load static %}
{% block content %}
{% autoescape off %}

<section style="font-size: 16px; margin-bottom: 4rem;">
  <p>Hello <span class="text-weight-bold">{{ auction.clinic.first_name }}</span>,</p>
  
  <p>An auction you were bidding on has ended. </p>
  <p>Unfortunately, you were not the lowest bidder, so another therapist was matched with the clinic.</p>

  <p>Better luck on your next auction.</p>
  
  <p>Thanks for using our service,</p>
  <p style="font-weight: 700; padding-top: 0rem; margin-top: 0; line-height: 0;">The Traveling Therapist Team</p>

</section>

{% endautoescape %}
{% endblock %}