{% if remember_last_auction %}
{{ formset_practice.management_form}}
{% for formset in formset_practice %}
<div class="input-group mb-3 align-items-center">
    <div class="d-flex gap-3 mt-2 mt-sm-0">
        {{ formset }}

    </div>
</div>
{% endfor %}

{% else %}

{{ formset_practice.management_form }}
{% for formset in formset_practice %}
<div class="d-flex gap-3 mt-2 mt-sm-0 mb-3 aop">
    <label for="id_practice_area_auction-{{forloop.counter0}}-category">Category:</label>
    <select name="practice_area_auction-{{forloop.counter0}}-category" id="id_practice_area_auction-{{forloop.counter0}}-category" disabled>
        {% for practice in practice_areas %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <option value="{{practice.pk}}" selected>{{practice.name}}</option>
        {% else %}
        <option value="{{practice.pk}}">{{practice.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <input type="number" name="practice_area_auction-{{forloop.counter0}}-percentage" id="id_practice_area_auction-{{forloop.counter0}}-percentage">

    <input type="hidden" name="practice_area_auction-{{forloop.counter0}}-id" id="id_practice_area_auction-{{forloop.counter0}}-id">
    <input type="hidden" name="practice_area_auction-{{forloop.counter0}}-auction" id="id_practice_area_auction-{{forloop.counter0}}-auction">
</div>

{% endfor %}
{% endif %}