{% extends 'auction/base_email_template.html' %}
{% autoescape off %}
{% block content %}
Hello,
<br><br>
We received a request to reset the password for your account for this email address. To initiate the password reset
process for your account, click the link below.
<br><br>
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
<br><br>
This link can only be used once. If you need to reset your password again, please visit {{domain}} and request
another reset.
<br><br>
If you did not make this request, you can simply ignore this email.
<br>
<br>
Sincerely,
<p>The Traveling Therapist Team</p>
{% endblock %}
{% endautoescape %}