{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<p id="pageTitle" class="d-none">About</p>

<div class="container" style="background-color: rgba(0, 0, 0, 0);">
  <div class=" row">
    <div class="col-md-12">
      <h1 class="text-center mb-5">Why Use The Traveling Therapist?</h1>
    </div>
  </div>
  <div class="row">
    <p>We benefit healthcare workers & healthcare facilities by eliminating the countless inefficiencies of the existing
      healthcare staffing model. Healthcare facilities get access to clinicians, often on short notice when they need
      them most, and transparent costs, while healthcare workers benefit by choosing their desired rate of compensation
      for their own time.
      <br><br>
      The Traveling Therapist offers all the benefits of an agency but operating 24/7 with few of the overhead costs. We
      give clinics access to an ever growing database of health care workers to help them care for their clients, and
      clinicians the opportunity to fill their empty schedules, work with new clinical populations, grow their career.
      <br><br>
      This leads to happier healthcare facilities, happier clinicians, and of course better care for patients!
    </p>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <img src="/media/images/Advertorial_IMG_1.jpg" class="whyUseImages img-fluid"
        alt="Therapist and patient shaking hands.">
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="truncate">
        <p>
          While working as students at a private outpatient healthcare facilities, we saw countless instances of
          therapists calling in sick, having to cancel their day, and healthcare facilities seeking PTs, RMTs, etc. for
          short term contracts, therapists on mat leave, or to cover their expected and unexpected absences.
          <br><br>
          We know all too well the number of clinicians with gaps in their weekly schedule, who would love the autonomy
          to decide when they work, where they work, and their own rate of pay for the career they love.
          <br><br>
          We saw firsthand the administrative headache of healthcare facilities attempting to find PT, RMT, or other
          coverage for shifts or short term contracts using online job forums and postings.
          <br><br>
          Heartbreakingly, we also saw the faces of patients who needed care and had to cancel their appointments
          because of these absences. We are all aware of healthcare facilities that are booking many weeks, and patients
          who could really benefit from seeing a physiotherapist, PSW, or other healthcare practitioner today.
          <br><br>
          Imagine a world where better allocation of clinicians, and healthcare staffing improves upon all of these
          opportunities at once.
          <br><br>
          The Traveling Therapist set out to meet the needs of healthcare facilities and clinicians alike by creating an
          online healthcare staffing solution to fill schedule openings all while providing more congruent patient care
          in the process. Our online platform facilitates matches between these jobs and clinicians. The Traveling
          Therapist is fast, free to use, and we are onboarding more clinics and clinicians every day!
          <br><br>
          Develop your career, fill short term healthcare worker shortages, become a Traveling Therapist!
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <img src="/media/images/Advertorial_IMG_2.jpg" class="whyUseImages img-fluid" alt="Therapist using computer.">
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="truncate">
        <p>
          The OPA human health resources in the physiotherapy profession survey ran from May 30th to July 11th, 2022,
          and had 171 respondents with completed data from 146 organizations with multiple sites. This is the second
          iteration of the health human resource is in the physiotherapy profession survey, which first ran in May 2021.
          Although the results of this survey put a spotlight on some of the health human resource huge issues emerging
          in the profession and their impact, it is only a snapshot perspective. This survey demonstrates the need to
          further examine supply and demand issues in the physiotherapy health human resources, including how to
          overcome barriers to recruitment and retention to minimize vacancies in the physiotherapy profession.
          <br><br>
          <b>Demographics</b><br>
          Most respondents worked in private practice 51% and hospitals 30%, followed by home care 8%. There was minimal
          representation from Primary Health care facilities 4% and no respondents who worked in long term care homes
          and retirement homes.
          <br><br>
          <b>Vacancies by Sector and Region</b><br>
          Through this survey, 255 physiotherapist vacancies and 47 physiotherapist assistant vacancies were reported.
          Most physiotherapist vacancies were reported in private practice 100 and hospital sector 94 in acute care and
          rehabilitation centres, followed by home care 29. Most physiotherapist assistant vacancies were reported
          within hospital based acute care 30 and private practice 10.
          When examining the region and area of these reported vacancies, most physiotherapist and physiotherapist
          assistant vacancies have been reported in urban areas. The majority of physiotherapist vacancies were reported
          in Toronto central, central Champlain, and southwest, which is similar to what was reported in the 2021 survey
          with the exception of the central region. The number of physiotherapist assistant vacancies were reported
          across the province equally with some slightly higher in the central region.
          It is important to note that the vacancies reported are a purely count based analysis from respondents who
          chose to participate in this survey. We also do not have any baseline data to provide more context around
          these numbers, which limits our ability to draw conclusions on the magnitude of the impact of the number of
          vacancies reported.
          <br><br>
          <b>Impact of vacancies</b><br>
          A substantial amount of qualitative feedback was received through this survey. Respondents described the
          impact that vacancies have had on their operations or practice, such as on things like human resources and
          capacity, staff workload, in direct patient care EG charting, direct patient care, etc. Some key takeaways
          are:
        <ul>
          <li>There are significant challenges with meeting the demands with providing patient care with the shortage of
            human healthcare resources.</li>
          <li>There has been an increase in workload hours, and caseload burden place to crossed existing staff</li>
          <li>There is increased stress and burnout, which has contributed to increased time off EG sick leave, leave of
            absence, vacation,) and those leaving the profession</li>
          <li>There is an impact on business growth, stability, and financial viability.</li>
          <li>Employers feel the need to offer greater compensation to recruit and retrain</li>
        </ul>
        Among the most prominent strategies used to address challenges experienced with filling positions includes
        implementing a wait list for patients due to limited staffing to meet demand 61%, and increasing the number of
        hours or amount of workload of the existing staff at their site 55%
        <br><br>
        <b>Barriers for recruitment</b><br>
        The most prominent barriers or factors that contributed to the difficulties or challenges experienced with
        recruitment include:
        <ul>
          <li>Low compensation and compensation inequality among sectors, providers slash organisations, settings, or
            regions</li>
          <li>Competition between sectors and organizations eg with compensation, benefits packages, offering preferred
            work hours</li>
          <li>Low supply of physiotherapists and a lack of applicants</li>
          <li>Lack of qualifications and experience required for the role</li>
          <li>Life factors such as cost of living, financial, housing, and employment opportunities for spouses
            (especially when moving to rural or northern areas)</li>
        </ul>
        <b>Conclusion</b><br>
        Health human resource issues have a significant impact on patient care and system performance. The results of
        this survey are informing next steps in a larger project that will more fully examine health human resource
        issues within the physiotherapy profession in Ontario. We have been collecting and will continue to collect and
        use this information and data to help support our advocacy and inform our stakeholder conversations. Our recent
        activities have been highlighted in the snapshot*
        <br><br>
        Opa.on.ca, autumn issue 2022
        </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div id="whyUseCarousel" class="carousel slide" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card">
            <h3 class="card-header">AGENCY</h3>
            <div class="card-body whyUseCardBody">
              <h4 class="card-title">SPEED & CONVENIENCE</h4>
              <h6>What is the time required and process needed to hire a healthcare worker?</h6>
              <h6 class="card-title">VERY SLOW</h6>
              <ol>
                <li>Research potential agencies</li>
                <li>Hire an Agency</li>
                <li>Call them & <b>wait</b></li>
                <li>Hope they have a candidate interested in your job</li>
                <li><b>WAIT</b> again</li>
                <li>Back & forth communication to coordinate with <b>waiting</b> between each step</li>
              </ol>
              <hr>
              <h5 class="card-title">COSTS</h5>
              <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
              <ul>
                <li>Fee per match and/or a % spread between the cost to you and what the clinician receives</li>
                <li>Healthcare facilities may be blind to how much the clinician is paid</li>
                <li>Healthcare facilities support the overhead costs of the people & operations of the agency</li>
                <li>Agency middleman makes back and forth communication time & resource intensive for healthcare
                  facilities</li>
              </ul>
              <hr>
              <h5 class="card-title"><b>RESULT</b></h5>
              <h6><b>SLOW & EXPENSIVE</b></h6>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <h3 class="card-header">HEALTHCARE JOB BOARDS</h3>
            <div class="card-body whyUseCardBody">
              <h4 class="card-title">SPEED & CONVENIENCE</h4>
              <h6>What is the time required and process needed to hire a healthcare worker?</h6>
              <h6 class="card-title">SLOW</h6>
              <ol>
                <li>Which association or job board services will you use?</li>
                <li>Membership required to post a job?</li>
                <li>Sometimes healthcare facilities can post a job, otherwise the association has to do it for you.</li>
                <li>Post your ad, hope someone relevant and qualified applies</li>
                <li>Screen resumes, conduct interviews, etc. adding time you dont have as a healthcare facilities</li>
              </ol>
              <hr>
              <h5 class="card-title">COSTS</h5>
              <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
              <ul>
                <li>Pay fees to be a member & post + $600 OR MORE per job posting!</li>
                <li>healthcare facilities lose time & money posting their job, waiting for applicants, screening
                  resumes, interviewing candidates, etc.</li>
                <li>Does the new hire stay on your team?</li>
                <li>If not, post another job for another $600+ & repeat!</li>
                <li>Manage the complexity of posting for your different clinician types on different job boards,
                  resulting in MORE lost time, money, & complexity</li>
              </ul>
              <hr>
              <h5 class="card-title"><b>RESULT</b></h5>
              <h6><b>CUMBERSOME & RESOURCE INTENSIVE</b></h6>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card">
            <h3 class="card-header"><img src="/media/images/TTT_LOGO.png" id="carouselLogo"
                alt="Traveling Therapist Logo" class="img-fluid banner-logo"></h3>
            <div class="card-body whyUseCardBody">
              <h4 class="card-title">SPEED & CONVENIENCE</h4>
              <h6>What is the time required and process needed to hire a healthcare worker?</h6>
              <h6 class="card-title">FAST</h6>
              <ol>
                <li><a href="{% url 'register' %}">Signup</a> for <b>FREE</b>, no membership fees for healthcare
                  facilities to post a job</li>
                <li>Create a job posting in < 10 min</li>
                <li>Login to create new job postings anytime.</li>
                <li>Job postings show immediately to the relevant clinicians so they can make you an offer!</li>
                <li>At the end of an listing, you are matched to the lowest bidder within 48 hours</li>
              </ol>
              <hr>
              <h5 class="card-title">COSTS</h5>
              <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
              <ul>
                <li><b>Transparent:</b> as low as $300/match with No hidden fees. See our <a
                    href="{% url 'about' %}">FAQ Page</a> for more details</li>
                <li><b>Low Commitment:</b> We match you to a clinician in 14 days or re-post your ad for free</li>
                <li><b>Bottom Line Efficiency:</b> We keep your staffing costs down by matching you to the lowest bidder
                  at the end of your listing .</li>
                <li>Online service = lower overhead costs. We pass the savings on to you!</li>
              </ul>
              <hr>
              <h5 class="card-title"><b>RESULT</b></h5>
              <h6><b>FAST, TRANSPARENT & FLEXIBLE SOLUTION FOR YOUR HEALTHCARE STAFFING NEEDS</b></h6>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#whyUseCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#whyUseCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="row">
    <table id="whyUseTable">
      <thead>
        <tr>
          <th></th>
          <th><b>AGENCY</b></th>
          <th><b>HEALTHCARE JOB BOARDS</b></th>
          <th><img src="/media/images/TTT_LOGO.png" id="whyUseTableLogo" alt="Traveling Therapist Logo"
              class="img-fluid banner-logo"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <b>SPEED & CONVENIENCE</b><br>
            What is the time required and process needed to hire a healthcare worker?
          </td>
          <td>
            <b class="cellTitle">VERY SLOW</b><br>
            <ol>
              <li>Research potential agencies</li>
              <li>Hire an Agency</li>
              <li>Call them & <b>wait</b></li>
              <li>Hope they have a candidate interested in your job</li>
              <li><b>WAIT</b> again</li>
              <li>Back & forth communication to coordinate with <b>waiting</b> between each step</li>
            </ol>
          </td>
          <td>
            <b class="cellTitle">SLOW</b><br>
            <ol>
              <li>Which association or job board services will you use?</li>
              <li>Membership required to post a job?</li>
              <li>Sometimes healthcare facilities can post a job, otherwise the association has to do it for you.</li>
              <li>Post your ad, hope someone relevant and qualified applies</li>
              <li>Screen resumes, conduct interviews, etc. adding time you dont have as a healthcare facilities</li>
            </ol>
          </td>
          <td>
            <b class="cellTitle">FAST</b><br>
            <ol>
              <li><a href="{% url 'register' %}">Signup</a> for <b>FREE</b>, no membership fees for healthcare
                facilities to post a job</li>
              <li>Create a job posting in < 10 min</li>
              <li>Login to create new job postings anytime.</li>
              <li>Job postings show immediately to the relevant clinicians so they can make you an offer!</li>
              <li>At the end of an listing , you are matched to the lowest bidder within 48 hours</li>
            </ol>
          </td>
        </tr>
        <tr>
          <td>
            <b>COSTS</b><br>
            What are the upfront and & hidden costs to onboard that worker?
          </td>
          <td>
            <ul>
              <li>Fee per match and/or a % spread between the cost to you and what the clinician receives</li>
              <li>Healthcare facilities may be to how much the clinician is paid</li>
              <li>Healthcare facilities support the overhead costs of the people & operations of the agency</li>
              <li>Agency middleman makes back and forth communication time & resource intensive for healthcare
                facilities</li>
            </ul>
          </td>
          <td>
            <ul>
              <li>Pay fees to be a member & post + $600 OR MORE per job posting!</li>
              <li>Healthcare facilities lose time & money posting their job, waiting for applicants, screening resumes,
                interviewing candidates, etc.</li>
              <li>Does the new hire stay on your team?</li>
              <li>If not, post another job for another $600+ & repeat!</li>
              <li>Manage the complexity of posting for your different clinician types on different job boards, resulting
                in MORE lost time, money, & complexity</li>
            </ul>
          </td>
          <td>
            <ul>
              <li><b>Transparent:</b> as low as $300/match with No hidden fees. See our <a href="{% url 'about' %}">FAQ
                  Page</a> for more details</li>
              <li><b>Low Commitment:</b> We match you to a clinician in 14 days or re-post your ad for free</li>
              <li><b>Bottom Line Efficiency:</b> We keep your staffing costs down by matching you to the lowest bidder
                at the end of your listing .</li>
              <li>Online service = lower overhead costs. We pass the savings on to you!</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td><b>RESULT</b></td>
          <td><b>SLOW & EXPENSIVE</b></td>
          <td><b>CUMBERSOME & RESOURCE INTENSIVE</b></td>
          <td><b>FAST, TRANSPARENT & FLEXIBLE SOLUTION FOR YOUR HEALTHCARE STAFFING NEEDS</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Our Service Benefits</h1>
    </div>
  </div>
  <hr>
  <div class="row fixbottom">
    <div class="center">
      <h1 class="text-center offset-lm-item">For clinics we are...</h1>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Fast</h2>
      <div class="center-img">
        <img src="/media/images/startup.png" alt="Rocket ship" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Create your profile, and post your listing in under 10 minutes.</li>
        <li>Listings are live for 14 days, so you get a match quickly!</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Transparent</h2>
      <div class="center-img">
        <!-- this image requires attribution -->
        <img src="/media/images/like.png" alt="thumbs up" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Save the agency fees and expensive job board advertisements. Our prices start at $300 per match.</li>
        <li>Post your listing for free! We only invoice you if we get you a match!</li>
        <li>No hidden fees once your employee starts.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Customizable</h2>
      <div class="center-img">
        <img src="/media/images/price.png" alt="Price" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Select between full contract price and fee split for most practitioner types </li>
        <li>Create a posting for PT, RMT, PSW, Chiropractor, and many more!</li>
        <li>Set ceiling prices to keep your posting on budget.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Hassle free</h2>
      <div class="center-img">
        <img src="/media/images/hired.png" alt="Hands shaking" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Save time, and effort screening resumes and conducting interviews for your short term or contract hires.
        </li>
        <li>Once your ad is live, therapists bid on your posting for the next 14 days with no action needed on your
          side.</li>
        <li>Eliminate the agency middleman, back and forth calls, and haggling!</li>
      </ul>
    </div>
  </div>
  <div class="row therapist-userbox fixbottom">
    <hr>
    <div class="center">
      <h1 class="text-center mb-5">For practitioners we are...</h1>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Private</h2>
      <div class="center-img">
        <img src="/media/images/spy.png" alt="Incognito" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>We do not collect your license, personal or credit card information when you sign up</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Free</h2>
      <div class="center-img">
        <img src="/media/images/free.png" alt="Price tag" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Always free to create an account and bid!</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Flexible</h2>
      <div class="center-img">
        <img src="/media/images/leave.png" alt="Plane and calendar" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Determine your own schedule and price to work.</li>
        <li>Only bid on postings you are interested in.</li>
      </ul>
    </div>
    <div class="col-md-3">
      <h2 class="text-center offset-lm-item">Expanding Your Career</h2>
      <div class="center-img">
        <img src="/media/images/career-choice.png" alt="Person with arrows" width="100px" height="100px">
      </div>
      <ul class="text-center offset-tm-item">
        <li>Travel while you work by taking jobs in new locations.</li>
        <li>Serve new clinical populations.</li>
        <li>Network and build your career!</li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<script src="{% static 'auction/why-use.js' %}"></script>
{% endblock %}