{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
  <h1 class="text-large text-weight-normal mb-5">About</h1>
  
  <div class="row mt-3 gx-5">
    <div class="col-sm-6">
      <div class="d-flex align-items-center mb-3">
        <span class="material-icons medium">airport_shuttle</span>
        <h2 class="text-medium text-weight-normal">What is The Traveling Therapist?</h2>
      </div>
        <p class="text-weight-light">The Traveling Therapist is a matchmaking service operating via auction. The Traveling Therapist connects clinics looking for temporary coverage for their therapists on vacation, leave, etc. and (physio)therapists looking for temporary, casual, or extra work in new clinical environments. Clinics retain their level of client care and patient load while their regular staff are away, while therapists get paid to work in new environments with new clinical populations and network in the process.</p>
    </div>
    <div class="col-sm-6">
      <div class="d-flex align-items-center mb-3">
        <span id="gavel" class="material-icons medium">gavel</span>
        <h2 class="text-medium text-weight-normal">How do auctions work?</h2>
      </div>
      <p class="text-weight-light">Auctions work via reverse bidding. The clinic posts an opening to which therapists post their bid to complete the entire work term listed. This bid is how much they are willing to accept as payment for the entire term of the ad posted. Therapists may continue to offer their services for lower and lower prices if they are willing to complete the term for that price. This process continues until the auction timer runs out, at which time, the traveling therapist matches the lowest bidding therapist with the clinic in need. If there is a bid placed in the last 60s before an auction closes, another 60s is added to the timer to be fair to other therapists bidding.</p>
    </div>
  </div>

  <div class="row my-3">
    <div class="offset-md-1 col-md-10">
       <div class="d-flex align-items-center justify-content-md-center mb-3">
        <span class="material-icons medium">settings</span>
        <h2 class="text-medium text-weight-normal text-center">How it works</h2>
      </div>
      <img class="img-fluid d-none d-md-block" src="../media/images/how_it_works.png" alt="How it works infographic">
      <img class="img-fluid d-md-none" src="../media/images/how_it_works_mobile.png" alt="How it works infographic">
    </div>
  </div>

  <div class="row g-5 my-5 pb-5 align-items-center">
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModalOne">
        <img class="img-fluid bg-white" src="/media/images/how_to_bid_as_a_therapist_screenshot.png">
      </button>
      <div class="modal fade" id="videoModalOne" tabindex="-1" aria-labelledby="videoModalOneLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="videoModalOneLabel">How to bid as a therapist</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="415" src="https://www.youtube.com/embed/O4Bqxj3BckM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModalTwo">
        <img class="img-fluid bg-white" src="/media/images/how_to_create_a_listing_screenshot.png">
      </button>
      <div class="modal fade" id="videoModalTwo" tabindex="-1" aria-labelledby="videoModalTwoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="videoModalTwoLabel">How to create a listing</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="415" src="https://www.youtube.com/embed/yjBTKDssHu8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModalThree">
        <img class="img-fluid bg-white" src="/media/images/how_to_monitor_auctions_screenshot.png">
      </button>
      <div class="modal fade" id="videoModalThree" tabindex="-1" aria-labelledby="videoModalThreeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="videoModalThreeLabel">How to monitor your auctions</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <iframe width="100%" height="415" src="https://www.youtube.com/embed/CmU4rT6uYNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <h2 class="my-5 text-weight-normal mb-3">Frequently Asked Questions</h2>

  <div class="row my-5 p-3 gap-3 gap-sm-0 pb-5 align-items-center">
    <div class="col-sm-1"></div>
    <a href="#clinicFAQ" class="col-sm-4 selection-boxes d-flex flex-column align-items-center gap-2 p-4">
      <img class="img-fluid" src="/media/images/clinic.png" alt="Clinic office as a cartoon">
      <h4>Clinics</h4>
    </a>
    <div class="col-sm-2"></div>
    <a href="#therapistFAQ" class="col-sm-4 selection-boxes d-flex flex-column align-items-center gap-2 p-4">
      <img class="img-fluid" src="/media/images/therapy.png" alt="Therapist as a cartoon">
      <h4>Therapists</h4>
    </a>
    <div class="col-sm-1"></div>
  </div>

  <h3 id="clinicFAQ">Clinics</h3>
  <!-- Clinic Accordian Start -->
  <div class="accordion" id="clinicAccordian">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingA">
        <button class="accordion-button text-weight-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapseA" aria-expanded="true" aria-controls="collapseA">
          What is The Traveling Therapist?
        </button>
      </h2>
      <div id="collapseA" class="accordion-collapse collapse show" aria-labelledby="headingA" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          The Traveling Therapist is a temporary work matchmaking service operating via auction. The traveling therapist connects clinics looking for temporary coverage for their therapists on vacation, leave, etc. and therapists looking for temporary, casual, or extra work in new clinical environments. Clinics retain their level of client care and patient load while their regular staff are away, while therapists get paid to work in new environments with new clinical populations and network in the process. 
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingB">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseB" aria-expanded="false" aria-controls="collapseB">
          How do auctions work?
        </button>
      </h2>
      <div id="collapseB" class="accordion-collapse collapse" aria-labelledby="headingB" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          Auctions work via reverse bidding. The clinic posts an opening to which therapists post their bid to complete the entire work term listed. This bid is how much they are willing to accept as payment for the entire term of the ad posted. Therapists may continue to offer their services for lower and lower prices if they are willing to complete the term for that price. This process continues until the auction timer runs out, at which time, The Traveling Therapist matches the lowest bidding therapist with the clinic in need. If there is a bid placed in the last 60s before an auction closes, another 60s is added to the timer to be fair to other therapists bidding.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingC">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
          How does the matching process work?
        </button>
      </h2>
      <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="headingC" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          The Traveling Therapist matches the lowest bidding therapist and the clinic within 48h of a match via email. This is the handoff process, from which point finances are handled outside of The Traveling Therapist. Note that therapists attempting to contact the clinic directly can be banned from the service as outlined in the
          <span type="button" data-bs-toggle="modal" data-bs-target="#tandcModalAbout1" class="mb-0 text-primary-colour">Terms & Conditions</span>.
          {% include 'auction/modal_terms_and_conditions.html' with id='tandcModalAbout1' %}
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingD">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseD" aria-expanded="false" aria-controls="collapseD">
          How are transactions processed?
        </button>
      </h2>
      <div id="collapseD" class="accordion-collapse collapse" aria-labelledby="headingD" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          Upon an auction ending, The Traveling Therapist charges the clinic's credit card on file in the amount of 5%+HST/tax or $300+HST/tax based on the final auction value, whichever is larger.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingE">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
          What are your fees?
        </button>
      </h2>
      <div id="collapseE" class="accordion-collapse collapse" aria-labelledby="headingE" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          Clinics post ads for free. Therapists bid for free.  The traveling therapist charges a 5% fee based on the lowest bidder contract value of any completed auction. We charge a maximum of $5,000+HST/tax per transaction for large auctions and a $300+HST/tax minimum.
        </p>
      </div>
    </div>
    <!-- <div class="accordion-item">
      <h2 class="accordion-header" id="headingF">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseF" aria-expanded="false" aria-controls="collapseF">
          Why can I only post 1 ad?
        </button>
      </h2>
      <div id="collapseF" class="accordion-collapse collapse" aria-labelledby="headingF" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          Free accounts for clinics allow 1 active ad at a time. If you'd like the ability to post more than 1 listing, access to auction reporting statistics and other features, you need a PRO account. Pro accounts have a monthly subscription cost of $31+HST. See full features of our pro accounts here.
        </p>
      </div>
    </div> -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingG">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseG" aria-expanded="false" aria-controls="collapseG">
          What information is stored/saved by The Traveling Therapist?
        </button>
      </h2>
      <div id="collapseG" class="accordion-collapse collapse" aria-labelledby="headingG" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          We store information, privately and encrypted on our end. We only share therapist contact information with the clinic if you're the lowest bidding therapist at the end of an auction. See full details with our 
          <span type="button" data-bs-toggle="modal" data-bs-target="#privacyModaAbout" class="text-primary-colour">Privacy Policy</span>.
        {% include 'auction/modal_privacy_policy.html' with id='privacyModaAbout' %}
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingH">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseH" aria-expanded="false" aria-controls="collapseH">
          What happens at end of the auction?
        </button>
      </h2>
      <div id="collapseH" class="accordion-collapse collapse" aria-labelledby="headingH" data-bs-parent="#clinicAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>The Traveling Therapist will connect the lowest bidder and the clinic via email</li>
            <li>Therapist provides proof of insurance to clinic</li>
            <li>Therapist and clinic reach an agreement and confirm payment method for the work term. This is not the responsibility of The Traveling Therapist</li>
            <li>Share your auction and clinic meeting experience with The Traveling Therapist so we can share with others in your shoes!</li>
          </ul>
          <p>Past auctions (closed or not) are available for all to see forever, regardless of price.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingI">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseI" aria-expanded="false" aria-controls="collapseI">
          Bidding Specifics & Incrementation
        </button>
      </h2>
      <div id="collapseI" class="accordion-collapse collapse" aria-labelledby="headingI" data-bs-parent="#clinicAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>Auctions are setup for convenience and ease of understanding for all users of the traveling therapist with the below parameters in place. Recall that bids represent the total value the therapist is willing to accept to complete the temporary job as posted by the clinic.</li>
            <li>Therapists may only bid whole dollar values</li>
            <li>The maximum value for any bid is $100,000</li>
            <li>From the 2nd bid onward, bids are subject to incrementation based on the value of the current lowest bid as listed in the auction highlights bar
              <ul>
                <li><img class="status-bar" src="/media/images/status_bar.png" alt="Status bar">
              </ul>
            </li>
            </li>
            <li>Bids above $25,000 can only be lowered in increments of $500</li>
            <li>Bids between 10,000 and 25,000 can only be lowered in increments of $250</li>
            <li>Bids below $10,000 and can only be lowered in increments of $250</li>
            <li>The Traveling Therapist does not offer automatic/proxy bidding</li>
            <li>Bids placed in the final minute of an auction add 60s to the timer and end of the auction to be fair to all therapists interested</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingJ">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseJ" aria-expanded="false" aria-controls="collapseJ">
          What is the reserve price?
        </button>
      </h2>
      <div id="collapseJ" class="accordion-collapse collapse" aria-labelledby="headingJ" data-bs-parent="#clinicAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>The reserve price is a fixed bar that the clinic has the choice to set or not set when creating their auction.</li>
            <li>If set, the reserve price is a fixed value defined as the maximum amount a clinic is willing to pay a therapist to cover the temporary posted that has been listed.</li>
            <li>If a reserve price is not met (by therapists posting lower and lower bids) by the auction end date, the auction is closed, and NO winner/match is assigned.</li>
            <li>Therapists bidding and the clinic are notified by email indicating the end of the auction, but with an unmet reserve price.</li>
            <li>In our experience, auctions <u><i>without</i></u> reserve prices generally tend to attract more bidders, but of course we leave the decision to or not to set a reserve price up to the clinic creating the listing.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingK">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseK" aria-expanded="false" aria-controls="collapseK">
          What if a therapist backs out after being the lowest bidder?
        </button>
      </h2>
      <div id="collapseK" class="accordion-collapse collapse" aria-labelledby="headingK" data-bs-parent="#clinicAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>The Traveling Therapist will email the winning therapist after the auction closes.</li>
            <li>The therapist has 48h from the time stamped on our email to respond to the clinic via email and confirm their intention to complete the work term.</li>
            <li>IF the therapist does not respond within 48h of a match, The Traveling Therapist engages in the following process:</li>
            <ol type="a">
              <li>The Traveling Therapist contacts the clinic as soon as reasonably possible after this 48h period to advise them that the therapist has backed out of the match</li>
              <li>The Traveling Therapist gives the clinic 2 options to choose from for a next step.
                <ol type="i">
                  <li>The clinic may be refunded their payment and the entire auction is reposted on The Traveling Therapist. The fee is then charged at the end of this new auction per usual.</li>
                  <li>The clinic may choose to accept a match with the next lowest bidder and have their card invoiced for the difference (if any) to account for the new awarded auction price.</li>
                </ol>
              </li>
            </ol>
          </ul>
        </div>
      </div>
    </div>
     <div class="accordion-item">
      <h2 class="accordion-header" id="headingL">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseL" aria-expanded="false" aria-controls="collapseL">
          What if I want my therapist to have specific skills/experience?
        </button>
      </h2>
      <div id="collapseL" class="accordion-collapse collapse" aria-labelledby="headingL" data-bs-parent="#clinicAccordian">
        <p class="accordion-body text-weight-light">
          By using the Traveling Therapist, you understand that you may not be getting your ideal candidate, but a licensed therapist to fill your temporary position.
          <br /><br />
          While you're welcome to fill out the comments box when posting an auction stating you'd like the therapist to be rostered for a given skill or have a certain type of experience, we cannot prevent a licensed therapist from bidding on your auction. We allow any licensed therapist to bid on any auction within their professional scope of practice.
        </p>
      </div>
    </div>
  </div>
  <!-- Clinic Accordian End -->

  <h3 id="therapistFAQ" class="mt-5">Therapists</h3>
  <!-- Therapist Accordian Start -->
  <div class="accordion" id="therapistAccordian">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading1">
        <button class="accordion-button text-weight-normal" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
          What is The Traveling Therapist?
        </button>
      </h2>
      <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          The Traveling Therapist is a temporary work matchmaking service operating via auction. The traveling therapist connects clinics looking for temporary coverage for their therapists on vacation, leave, etc. and therapists looking for temporary, casual, or extra work in new clinical environments. Clinics retain their level of client care and patient load while their regular staff are away, while therapists get paid to work in new environments with new clinical populations and network in the process. 
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading2">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          How do auctions work?
        </button>
      </h2>
      <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          Auctions work via reverse bidding. The clinic posts an opening to which therapists post their bid to complete the entire work term listed. This bid is how much they are willing to accept as payment for the entire term of the ad posted. Therapists may continue to offer their services for lower and lower prices if they are willing to complete the term for that price. This process continues until the auction timer runs out, at which time, The Traveling Therapist matches the lowest bidding therapist with the clinic in need. If there is a bid placed in the last 60s before an auction closes, another 60s is added to the timer to be fair to other therapists bidding.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading3">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          How does the matching process work?
        </button>
      </h2>
      <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          The Traveling Therapist matches the lowest bidding therapist and the clinic within 48h of a match via email. This is the handoff process, from which point finances are handled outside of The Traveling Therapist. Note that therapists attempting to contact the clinic directly can be banned from the service as outlined in the
          <span type="button" data-bs-toggle="modal" data-bs-target="#tandcModalAbout1" class="mb-0 text-primary-colour">Terms & Conditions</span>.
          {% include 'auction/modal_terms_and_conditions.html' with id='tandcModalAbout1' %}
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading4">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          How are transactions processed?
        </button>
      </h2>
      <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          Upon an auction ending, The Traveling Therapist charges the clinic's credit card on file in the amount of 5%+HST/tax or $300+HST/tax based on the final auction value, whichever is larger.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading5">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          What are your fees?
        </button>
      </h2>
      <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          Clinics post ads for free. Therapists bid for free.  The traveling therapist charges a 5% fee based on the lowest bidder contract value of any completed auction. We charge a maximum of $5,000+HST/tax per transaction for large auctions and a $300+HST/tax minimum.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading6">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          What information is stored/saved by The Traveling Therapist?
        </button>
      </h2>
      <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          We store information, privately and encrypted on our end. We only share therapist contact information with the clinic if you're the lowest bidding therapist at the end of an auction. See full details with our 
          <span type="button" data-bs-toggle="modal" data-bs-target="#privacyModaAbout2" class="text-primary-colour">Privacy Policy</span>.
        {% include 'auction/modal_privacy_policy.html' with id='privacyModaAbout2' %}
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading7">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          I see auctions for other provinces, can I place bids on those auctions too?
        </button>
      </h2>
      <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7" data-bs-parent="#therapistAccordian">
        <p class="accordion-body text-weight-light">
          Check with your professional governing body and insurance provider first. Some professions allow this, while others do not. The Traveling Therapist allows bids on auctions outside of your province, but the responsibility is on the therapist to ensure they are legally able to perform that work that they are bidding on. See full details on your responsibilities as a bidder in our
          <span type="button" data-bs-toggle="modal" data-bs-target="#tandcModalAbout2" class="mb-0 text-primary-colour">Terms & Conditions</span>.
          {% include 'auction/modal_terms_and_conditions.html' with id='tandcModalAbout2' %}
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading8">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
          What happens at end of the auction?
        </button>
      </h2>
      <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8" data-bs-parent="#therapistAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>The Traveling Therapist will connect the lowest bidder and the clinic via email</li>
            <li>Therapist provides proof of insurance to clinic</li>
            <li>Therapist and clinic reach an agreement and confirm payment method for the work term. This is not the responsibility of The Traveling Therapist</li>
            <li>Share your auction and clinic meeting experience with The Traveling Therapist so we can share with others in your shoes!</li>
          </ul>
          <p>Past auctions (closed or not) are available for all to see forever, regardless of price.</p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading9">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Bidding Specifics & Incrementation
        </button>
      </h2>
      <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9" data-bs-parent="#therapistAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>Auctions are setup for convenience and ease of understanding for all users of the traveling therapist with the below parameters in place. Recall that bids represent the total value the therapist is willing to accept to complete the temporary job as posted by the clinic.</li>
            <li>Therapists may only bid whole dollar values</li>
            <li>The maximum value for any bid is $100,000</li>
            <li>From the 2nd bid onward, bids are subject to incrementation based on the value of the current lowest bid as listed in the auction highlights bar
              <ul>
                <li><img class="status-bar" src="/media/images/status_bar.png" alt="Status bar">
              </ul>
            </li>
            </li>
            <li>Bids above $25,000 can only be lowered in increments of $500</li>
            <li>Bids between 10,000 and 25,000 can only be lowered in increments of $250</li>
            <li>Bids below $10,000 and can only be lowered in increments of $250</li>
            <li>The Traveling Therapist does not offer automatic/proxy bidding</li>
            <li>Bids placed in the final minute of an auction add 60s to the timer and end of the auction to be fair to all therapists interested</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading10">
        <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
          What if a therapist backs out after being the lowest bidder?
        </button>
      </h2>
      <div id="collapse10" class="accordion-collapse collapse" aria-labelledby="heading10" data-bs-parent="#therapistAccordian">
        <div class="accordion-body text-weight-light">
          <ul>
            <li>The Traveling Therapist will email the winning therapist after the auction closes.</li>
            <li>The therapist has 48h from the time stamped on our email to respond to the clinic via email and confirm their intention to complete the work term.</li>
            <li>IF the therapist does not respond within 48h of a match, The Traveling Therapist engages in the following process:</li>
            <ol type="a">
              <li>We (The Traveling Therapist) attempt to contact the therapist user to inquire about the nature of their back out from the auction.</li>
              <li>If no response from the therapist user, their account is banned, and the therapist must reach out to The Traveling Therapist to re-activate their account.</li>
              <li>If a response from the therapist, and we deem the response reasonable, we issue a warning to the therapist and advise them that an additional back out results in a ban on their account.</li>
              <li>The Traveling Therapist takes auction fraud and users who attempt to sabotage an auction very seriously. Users abusing The Traveling Therapist will be removed and unable to use our services in the future.</li>
            </ol>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Therapist Accordian End -->

  <!-- Content End -->
<script src="{% static 'auction/index.js' %}"></script>
{% endblock %}