{% extends 'auction/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!-- Content Start -->
<div class="container mt-3 mb-5">
  <h1>{{ auction.clinic.clinicName }}</h1>
  <h2 class="text-weight-light">Temporary Physiotherapist</h2>

  <!-- Static Images -->
  <div class="row d-none d-sm-inline-flex my-3">
    <div class="col-9">
      <img src="/media/{{ auction.clinic.imageOne }}" class="img-fluid pt-3" alt="Image of Clinic">
    </div>
    <div class="col-3">
      {% if auction.clinic.imageTwo %}
      <img src="/media/{{ auction.clinic.imageTwo }}" class="img-fluid pt-3" alt="Image of Clinic">
      {% endif %}
      {% if auction.clinic.imageThree %}
      <img src="/media/{{ auction.clinic.imageThree }}" class="img-fluid pt-3" alt="Image of Clinic">
      {% endif %}
      {% if auction.clinic.imageFour %}
      <img src="/media/{{ auction.clinic.imageFour }}" class="img-fluid pt-3" alt="Image of Clinic">
      {% endif %}
    </div>
  </div>
  <!-- Image Section End -->

  <div class="d-flex">
    <section class="d-inline-flex align-items-center text-white bg-dark py-2 px-3 me-3 rounded">
      <time id="auctionTimer-{{ auction.auctionID }}" class="m-0 d-flex me-4"><img class="clock me-2"
          src="{% static 'auction/clock.svg' %}" alt="clock">--</time>
      <p class="m-0">Low Bid:<span class="ms-2">${{ auction.get_low_bid }}</span></p>
      <p class="m-0 mx-4 d-none d-lg-block"># Bids:<span class="ms-2">{{ num_bids }}</span></p>
      <p class="m-0 me-4 d-none d-lg-block"># of Therapists Bidding:<span class="ms-2">{{ num_biders }}</span></p>
    </section>

    {% if user.is_authenticated and user.account.get_split_user_type != 'Clinic' %}
    <button type="button" class="btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo">Bid</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Place Bid</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post">
              <p>Current Bid: ${{ auction.get_low_bid }}</p>
              <div class="mb-3">
                <!-- <label for="recipient-name" class="col-form-label">Your Bid Amount:</label>
                <input type="number" class="form-control" id="recipient-name"> -->
                {% csrf_token %}
                {{ form.amount|as_crispy_field }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit Bid</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    {% endif %}

  </div>

  <div class="row w-100 mx-auto mt-3">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Clinic Name</p>
    <p class="col-8 text-weight-light border mb-0 py-2">{{ auction.clinic.clinicName }}</p>
  </div>
  <div class="row w-100 mx-auto">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Town/ City</p>
    <p class="col-8 text-weight-light border mb-0 py-2">{{ auction.clinic.city }}</p>
  </div>
  <div class="row w-100 mx-auto">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Province</p>
    <p class="col-8 text-weight-light border mb-0 py-2">ONTARIO</p>
  </div>
  <div class="row w-100 mx-auto">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Dates of Coverage</p>
    <p class="col-8 text-weight-light border mb-0 py-2">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
  </div>
  <div class="row w-100 mx-auto">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Days Working</p>
    <div class="col-8 border py-2">
      <table>
        <tbody>
          <tr>
            <th class="pe-3">MON:</th>
            <td class="text-weight-light">{{ auction.mondayStart }} - {{ auction.mondayEnd }}</td>
          </tr>
          <tr>
            <th class="pe-3">TUES:</th>
            <td class="text-weight-light">{{ auction.tuesdayStart }} - {{ auction.tuesdayEnd }}</td>
          </tr>
          <tr>
            <th class="pe-3">WED:</th>
            <td class="text-weight-light">{{ auction.wednesdayStart }} - {{ auction.wednesdayEnd }}</td>
          </tr>
          <tr>
            <th class="pe-3">THURS:</th>
            <td class="text-weight-light">{{ auction.thursdayStart }} - {{ auction.thursdayEnd }}</td>
          </tr>
          <tr>
            <th class="pe-3">FRI:</th>
            <td class="text-weight-light">{{ auction.fridayStart }} - {{ auction.fridayEnd }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row w-100 mx-auto">
    <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Pay Frequency</p>
    <p class="col-8 text-weight-light border mb-0 py-2">{{ auction.payFrequency }}</p>
  </div>
  <!-- <div class="row w-100 mx-auto">
      <p class="col-4 text-weight-bold border mb-0 py-2 bg-light">Area of Practice</p>
      <p class="col-8 text-weight-light border mb-0 py-2"></p>
    </div> -->
  <div class="row w-100 mx-auto">
    <div class="col-md-6 border">
      <div class="offset-2 col-8">
        <canvas id="demographics"></canvas>
      </div>
    </div>
    <div class="col-md-6 border">
      <div class="offset-2 col-8">
        <canvas id="areaOfPractice"></canvas>
      </div>
    </div>
  </div>

  <h3 class="mt-3">About the Clinic</h3>
  <p class="text-weight-light">{{ auction.comments }}</p>
</div>
<!-- <script src="{% static 'auction/app.js' %}"></script> -->
<script src="{% static 'auction/bid-page.js' %}"></script>
<!-- Content End -->
{% endblock %}