<div class="col-sm-6 col-lg-4">
  <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
    <div class="position-relative">
      {% if auction.clinic.imageTwo %}
      <img src="/media/{{ auction.clinic.imageOne }}{{ auction.imageOne }}" class="card-img-top" alt="Image of Clinic">
      {% else %}
      <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
      {% endif %}
      <div
        class="d-inline-flex text-align-center text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
        <span class="material-icons small text-white align-self-center">schedule</span><time
          id="auctionTimer-{{ auction.auctionID }}"
          class="m-0 d-flex me-3 text-white align-self-center">--</time>
        <p class="m-0 me-3 text-white align-self-center">{{ auction.get_bid }}</p>
        <p class="m-0 d-none d-lg-block text-white align-self-center">
          # Bids:<span class="ms-2 text-white align-self-center">{{ auction.get_num_bids }}</span></p>
      </div>
    </div>
    <div class="card-body">
      <h2 class="card-title">{{ auction.clinic.clinicName }}{{ auction.clinicName }}</h2>
      <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
      <p class="text-weight-thin mb-0">{{ auction.clinic.userType }}</p>
      <p class="text-weight-thin">{{ auction.clinic.city }}{{ auction.city}}, ON</p>
    </div>
  </a>
</div>