<div class="col-sm-6 col-lg-4">
  <div class="card mt-4 text-decoration-none text-dark">
    <div class="card-body">
      <h2 class="card-title">{{ auction.clinicName }}{{ auction.clinic.clinicName }}</h2>
      <div class="d-inline-flex text-white bg-dark p-2 rounded mb-2 text-x-small">
        <p class="m-0 text-white">Winning Bid:<span class="ms-2 text-white">${{auction.winningPrice}}</span></p>
        <p class="m-0 ms-4 text-white"># Bids:<span class="ms-2 text-white">{{auction.get_num_bids}}</span></p>
      </div>
      <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
      {% if auction.userType %}
      <p class="text-weight-thin mb-0">{{ auction.get_position_type }}</p>
      {% else %}
      <p class="text-weight-thin mb-0">{{ auction.get_position_type }}</p>
      {% endif %}
      <p class="text-weight-thin mb-0">{{ auction.city }}{{ auction.clinic.city }}, {{ auction.province }}</p>
    </div>
  </div>
</div>