{% extends 'auction/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script>
    // Global grecaptcha initialization
    grecaptcha.ready(function () {
        grecaptcha.execute('6Lc2PPUqAAAAAL4lTOiKa8tjoekP5FbXkt8JnyyQ', { action: "/contact/" }).then(function (token) {
            document.getElementById('g-recaptcha-response').value = token;
        });
    });

    $(document).ready(function () {
        $('#contact-form').on('submit', function (event) {
            event.preventDefault(); // Stop normal page reload
            
            const $form = $(this);

            $.ajax({
                type: "POST",
                url: $form.attr('action') || window.location.pathname,
                data: $form.serialize(),
                success: function (response) {
                    // Checkmark Success Popup
                    Swal.fire({
                        title: 'Success!',
                        text: 'Thank you for your message. We will get back to you as soon as possible.',
                        icon: 'success',
                        confirmButtonText: 'Great!',
                        confirmButtonColor: '#0f9972'
                    }).then(() => {
                        // Redirect to the home page
                        window.location.href = '/';
                    });
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'Could not send your message. Please try again later.',
                        icon: 'error',
                        confirmButtonColor: '#d33'
                    });
                }
            });
        });
    });
</script>

<p id="pageTitle" class="d-none">Contact_Us</p>

<div class="mx-auto my-4 text-center">
    <h1>Contact Us</h1>
    <p>Use this contact form to send us any questions or feedback here.</p>
</div>

<div class="container">
    <form id="contact-form" action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
        <button class="btn btn-primary my-3" type="submit">Send message</button>
    </form>
</div>
{% endblock %}