{% extends 'auction/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3 mb-5">
  <div class="tab-pane fade show" id="create-auction" role="tabpanel" aria-labelledby="create-auction-tab">
    <div class="tab-pane fade show active bg-light p-3" id="create-auction" role="tabpanel"
      aria-labelledby="create-auction-tab">
      <p>{{showForm}}</p>
      {% if show_form %}
      <form method="post" class="p-md-5">
        <h2 class="mb-5">Create New Auction Post</h2>
        {% csrf_token %}
        <div class="row">
          <div class="mb-3 col-md-6">
            {{ form.placementStart|as_crispy_field }}
          </div>
          <div class="mb-3 col-md-6">
            {{ form.placementEnd|as_crispy_field }}
          </div>
          <div class="mb-3 col-md-6">
            {{ form.reservePrice|as_crispy_field }}
          </div>
          <div class="mb-3 col-md-6">
            {{ form.payFrequency|as_crispy_field }}
          </div>
          <div class="mb-3">
            <h3 class="fs-5">Therapist Schedule <span class="text-weight-thin fs-6">*leave day blank if clinic is
                closed</span>
            </h3>

            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Mon:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.mondayStart|as_crispy_field }}
                {{ form.mondayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Tue:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.tuesdayStart|as_crispy_field }}
                {{ form.tuesdayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Wed:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.wednesdayStart|as_crispy_field }}
                {{ form.wednesdayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Thu:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.thursdayStart|as_crispy_field }}
                {{ form.thursdayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Fri:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.fridayStart|as_crispy_field }}
                {{ form.fridayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Sat:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.saturdayStart|as_crispy_field }}
                {{ form.saturdayEnd|as_crispy_field }}
              </div>
            </div>
            <div class="input-group mb-3 align-items-center">
              <span class="input-group-text me-3">Sun:</span>
              <div class="d-inline mt-2 mt-sm-0">
                {{ form.sundayStart|as_crispy_field }}
                {{ form.sundayEnd|as_crispy_field }}
              </div>
            </div>
          </div>
          <div class="mb-3">
            {{ form.comments|as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-primary">Create Auction</button>
        </div>
    </div>
    </form>
    {% else %}
    <p>Only {{ max_forms }} active auctions are allowed at a time. Contact info@travelingtherapist.ca for more
      information on our Pro plan.</p>
    {% endif %}
  </div>
</div>
{% endblock %}