{% extends 'auction/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<!-- <div class="container my-3"> -->
<div class="tab-pane fade show" id="create-auction" role="tabpanel" aria-labelledby="create-auction-tab">
  <div class="tab-pane" id="create-auction" role="tabpanel" aria-labelledby="create-auction-tab">
    <!-- <div class="tab-pane fade show active bg-light p-3" id="create-auction" role="tabpanel"
      aria-labelledby="create-auction-tab"> -->
    <p>{{showForm}}</p>
    {% if show_form %}
    <!-- Message Alert -->
    {% for f in auction %}
    <div class="input-group mb-3 align-items-center">
      <div class="d-flex gap-3 mt-2 mt-sm-0">

        <th><label for="id_demogrpahic_auction-">Category:</label></th>
        <td>
          <select name="demogrpahic_auction-" id="id_demogrpahic_auction-">
            <option value="" disabled selected>{{ f.category }}</option>
          </select>
        </td>
        </tr>
        <tr>
          <th><label for="id_demogrpahic_auction-"></label></th>
          <td>
            <input type="number" name="demogrpahic_auction-" id="id_demogrpahic_auction-" value={{ f.percentage }}>
            <input type="hidden" name="demogrpahic_auction-" id="id_demogrpahic_auction-"><input type="hidden"
              name="demogrpahic_auction-" id="id_demogrpahic_auction-">
          </td>
        </tr>
      </div>
    </div>
    {% endfor %}
    <form method="post" class="p-2">
      <!-- <form method="post" class="p-md-5"> -->
      <h1 class="text-large text-weight-normal mb-5">Create New Auction Post</h1>
      {% csrf_token %}
      {{ form|as_crispy_errors }}
      <div class="alert alert-block alert-danger">
        <ul id="errorList"></ul>
      </div>
      <div class="row">
        <div class="mb-12 col-md-12">
          <label>What Type of Therapist are you looking for?</label>
          <select name="type" class="select form-control" required="" id="id_type"
            hx-post="{% url 'get-practice-types' %}" hx-target='#practiceAreaDiv' hx-trigger="click"
            hx-include="[name='type']">
            <option value="0">---------</option>
            {% for user in user_types %}
            {% if user.name == selected.name %}
            <option value="{{user.pk}}" selected>{{user.name}}</option>
            {% else %}
            <option value="{{user.pk}}">{{user.name}}</option>
            {% endif%}
            {% endfor %}
          </select>
        </div>
        <div class="mb-3 col-md-6">
          {{ form.placementStart|as_crispy_field }}
        </div>
        <div class="mb-3 col-md-6">
          {{ form.placementEnd|as_crispy_field }}
        </div>
        <div class="mb-3 col-md-6">
          {{ form.reservePrice|as_crispy_field }}
          <p>{{forms.non_field_errors}}</p>
          {% for error in forms.non_field_errors %}
          <p>{{error}}</p>
          {% endfor %}
        </div>
        <div class="mb-3 col-md-6">
          {{ form.payFrequency|as_crispy_field }}
        </div>
        <div class="mb-3">
          <h3 class="fs-5 my-3 text-weight-normal">Therapist Schedule <span class="text-weight-thin fs-6">*Leave day
              blank to indicate days the therapist will not be working</span>
          </h3>

          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Mon:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.mondayStart|as_crispy_field }}
              {{ form.mondayEnd|as_crispy_field }}
              <button id="mondayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Tue:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.tuesdayStart|as_crispy_field }}
              {{ form.tuesdayEnd|as_crispy_field }}
              <button id="tuessdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Wed:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.wednesdayStart|as_crispy_field }}
              {{ form.wednesdayEnd|as_crispy_field }}
              <button id="wednesdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Thu:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.thursdayStart|as_crispy_field }}
              {{ form.thursdayEnd|as_crispy_field }}
              <button id="thursdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Fri:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.fridayStart|as_crispy_field }}
              {{ form.fridayEnd|as_crispy_field }}
              <button id="fridayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Sat:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.saturdayStart|as_crispy_field }}
              {{ form.saturdayEnd|as_crispy_field }}
              <button id="saturdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
          <div class="input-group mb-3 align-items-center">
            <span class="input-group-text me-3 mt-3 mt-md-4">Sun:</span>
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ form.sundayStart|as_crispy_field }}
              {{ form.sundayEnd|as_crispy_field }}
              <button id="sundayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <h3 class="fs-5 my-3 text-weight-normal">Demographics</h3>
          {{ formset_demographic.management_form}}
          {% for formset in formset_demographic %}
          <div class="input-group mb-3 align-items-center">
            <div class="d-flex gap-3 mt-2 mt-sm-0">
              {{ formset }}
            </div>
          </div>
          {% endfor %}
        </div>
        <h3 class="fs-5 my-3 text-weight-normal">Areas of Practice</h3>
        <p id="optionsMessage">Practice Area options will de displayed once the auction type is selected.</p>
        <div id="practiceAreaDiv" class="mb-3">
          {% include 'auction/partials/practice_areas.html' %}
        </div>
        <div class="mb-3">
          {{ form.comments|as_crispy_field }}
        </div>
      </div>
      <div>
        <button id="submitButton" type="submit" class="btn btn-primary">Create Auction</button>
      </div>
  </div>
</div>
</form>
{% else %}
<p>Only {{ max_forms }} active auctions are allowed at a time. Contact info@travelingtherapist.ca for more
  information on our Pro plan.</p>
{% endif %}
</div>
<!-- </div> -->
<script src="{% static 'auction/create_auction.js' %}"></script>
{% else %}
<p>You must be logged in to access this page. Please <a href="https://travelingtherapist.ca/login">login here</a>
</p>
{% endif %}
{% endblock %}