{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
<p id="pageTitle" class="d-none">FAQ</p>
<h2 class="my-5 text-weight-normal mb-3">Frequently Asked Questions</h2>

<!-- Main FAQ Accordion Start -->
<div class="accordion" id="mainAccordian">
  <!-- Start What is The Traveling Therapist -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingA">
      <button class="accordion-button text-weight-normal" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseA" aria-expanded="true" aria-controls="collapseA">
        What is The Traveling Therapist?!
      </button>
    </h2>
    <div id="collapseA" class="accordion-collapse collapse show" aria-labelledby="headingA"
      data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        Learn more on our <a href="{% url 'what-is-TTT' %}">What is The Traveling Therapist page</a>.
      </p>
    </div>
  </div>
  <!-- End What is The Traveling Therapist -->
  <!-- Start How do I use The Traveling Therapist -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingB">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseB" aria-expanded="true" aria-controls="collapseB">
        How do I use The Traveling Therapist?
      </button>
    </h2>
    <div id="collapseB" class="accordion-collapse collapse" aria-labelledby="headingB" data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        Check out our <a href="{% url 'how-it-works' %}">How to Page</a>.
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingC">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
        Can Traveling Therapist support long term hiring needs, or is it only designed for short term coverage?
      </button>
    </h2>
    <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="headingC"
      data-bs-parent="#secondaryAccordian">
      <p class="accordion-body text-weight-light">
        Yes — Traveling Therapist supports both short-term coverage and long-term hiring. If you have a great
        experience with a clinician we connected you to, you can hire them as a permanent member of your clinical
        team. There are no extra fees from The Traveling Therapist for converting a clinician to a long-term hire,
        unlike traditional
        agencies, so you keep continuity without added placement charges.
      </p>
    </div>
  </div>
  <!-- End How do I use The Traveling Therapist -->
  <!-- Start How does an auction work? -->
  <!-- <div class="accordion-item">
    <h2 class="accordion-header" id="headingC">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseC" aria-expanded="false" aria-controls="collapseC">
        How does the process work?
      </button>
    </h2>
    <div id="collapseC" class="accordion-collapse collapse" aria-labelledby="headingC" data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        When a healthcare facility posts an opening, clinicians and practitioners can bid on that position, representing their offer to complete the <b>entire work term</b> listed.
        <br><br>
        Clinicians may continue to make offers their services for lower and lower prices (This is your bid!) if they are willing to complete the term for that price. This process continues until the auction timer runs out, at which time, <b>The Traveling Therapist</b> matches the lowest bidder to the facility.
        <br><br>
        If there is a bid placed in the last 60s before an auction closes, another 60s is added to account for differences in network speeds, and those monitoring the posting.
      </p>
    </div>
  </div> -->
  <!-- End How does an auction work? -->
  <!-- Start What happens at the end of an auction? -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingD">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseD" aria-expanded="false" aria-controls="collapseD">
        How does the matching process work?
      </button>
    </h2>
    <div id="collapseD" class="accordion-collapse collapse" aria-labelledby="headingD" data-bs-parent="#mainAccordian">
      <div class="accordion-body text-weight-light">
        <ol>
          <li>The Traveling Therapist will connect the lowest bidder and the healthcare facility via email</li>
          <li>The healthcare facility and clinician confirm necessary startup documents (insurance, agreed upon method
            of payment) directly once connected.</li>
        </ol>
        <br>
        <b>Please Note:</b>
        <ol>
          <li>All finances for the position are handled outside of The Traveling Therapist platform.</li>
          <li>Clinicians attempting to contact the clinic/facility directly can be banned from the service as outlined
            in the <a href="{% url 'terms-and-conditions' %}">Terms & Conditions</a>.</li>
          <li>Past listings are available for all to see, forever, regardless of price.</li>
        </ol>
        <br>
        <p>Be sure to share your experience using The Traveling Therapist with us so we can share it with others in your
          shoes too!</p>
      </div>
    </div>
  </div>
  <!-- End What happens at the end of an auction? -->
  <!-- Start What are the fees? -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingE">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseE" aria-expanded="false" aria-controls="collapseE">
        What are your fees?
      </button>
    </h2>
    <div id="collapseE" class="accordion-collapse collapse" aria-labelledby="headingE" data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        Healthcare facilities post ads for free. Clinicians bid for free.
        <br><br>
        The Traveling Therapist charges the healthcare facility 5% of the winning bidder's offer (aka the lowest bidder)
        at the end
        of the
        listing. We charge a maximum of $5,000+HST/tax per transaction for large listings and a $300+HST/tax minimum.
      </p>
    </div>
  </div>
  <!-- End What are the fees? -->
  <!-- Start What if a therapist backs out -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingF">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseF" aria-expanded="false" aria-controls="collapseF">
        What if a clinician backs out after being the lowest bidder?
      </button>
    </h2>
    <div id="collapseF" class="accordion-collapse collapse" aria-labelledby="headingF" data-bs-parent="#mainAccordian">
      <div class="accordion-body text-weight-light">
        <p>The clinician has 48h from the time stamped on our email to respond to the healthcare facility via email and
          confirm
          their intention to complete the work term. If the clinician does not respond within 48h of a match, The
          Traveling Therapist engages in the following
          process:</p>
        <ol>
          <li>The Traveling Therapist contacts the healthcare facility as soon as reasonably possible after this 48h
            period to
            advise them that the clinician has backed out of the match</li>
          <li>The Traveling Therapist gives the healthcare facility 2 options to choose from for a next step.
            <ol>
              <li>The healthcare facility may be refunded their payment and the entire listing is reposted on The
                Traveling
                Therapist. The fee is then charged at the end of this new listing per usual.</li>
              <li>The healthcare facility may choose to accept a match with the next lowest bidder and have their card
                invoiced for
                the difference (if any) to account for the new awarded listing price.</li>
            </ol>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <!-- End What if a clinician backs out -->
  <!-- Start What if I want the clinician to have specific skills -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingG">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseG" aria-expanded="false" aria-controls="collapseG">
        What if I want my clinician to have specific skills/experience?
      </button>
    </h2>
    <div id="collapseG" class="accordion-collapse collapse" aria-labelledby="headingG" data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        By using The Traveling Therapist, you understand that you may not be getting your ideal candidate, but an
        applicable clinician to to fill your position.
        <br><br>
        While you're welcome to fill out the comments box when posting an listing stating you'd like the clinician to be
        rostered for a given skill or have a certain type of experience, we allow any clinician to bid on any listing
        within their professional scope of practice.
      </p>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingH">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseH" aria-expanded="false" aria-controls="collapseH">
        Does The Traveling Therapist verify that clinicians are licensed?
      </button>
    </h2>
    <div id="collapseH" class="accordion-collapse collapse" aria-labelledby="headingH" data-bs-parent="#mainAccordian">
      <p class="accordion-body text-weight-light">
        The Traveling Therapist connects clinics with qualified healthcare professionals and reviews listings to ensure
        the clinician’s designation aligns with the role.
        <br><br>
        While we do not yet perform formal background or license database checks, all clinicians agree under our Terms &
        Conditions to maintain a valid, active license in their practicing province. Manual screening and professional
        self-declaration support this process.
        <br><br>
        This approach ensures faster, more efficient connections without delays from third-party verification. Clinics
        are encouraged to confirm licensure directly before finalizing a contract.
        <br><br>
        In some cases, clinicians may hold or apply for a temporary interprovincial license — this remains the shared
        responsibility of both parties. To date, there have been no instances of misrepresentation or bad actors on our
        platform. Automated, profession-based visibility is planned for a future update.
      </p>
    </div>
  </div>
  <!-- End What if I want the clinician to have specific skills -->
</div>
<br>

<div class="accordion" id="outsideSecondaryAccordian">
  <!-- Start Outside Accordian -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOutside">
      <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseOutside" aria-expanded="false" aria-controls="collapseOutside">
        More FAQs
      </button>
    </h2>
    <div id="collapseOutside" class="accordion-collapse collapse" aria-labelledby="headingOutside"
      data-bs-parent="#outsideSecondaryAccordian">
      <div class="accordion" id="secondaryAccordian">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading2">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
              How are transactions processed?
            </button>
          </h2>
          <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Upon an listing ending, The Traveling Therapist charges the healthcare facility's credit card on file in
              the amount of
              5%+HST/tax or
              $300+HST/tax based on the final listing value, whichever is larger.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading4">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
              What information is stored/saved by The Traveling Therapist?
            </button>
          </h2>
          <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              We store information, privately and encrypted on our end. We only share clinician contact information with
              the
              healthcare facility if
              you're the lowest bidding clinician at the end of an listing. See full details with our
              <span type="button" data-bs-toggle="modal" data-bs-target="#privacyModaAbout"
                class="text-primary-colour">Privacy Policy</span>.
              {% include 'auction/modal_privacy_policy.html' with id='privacyModaAbout' %}
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading5">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
              What are raffles and how do they work?
            </button>
          </h2>
          <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Raffles are a new feature for your small interactions to create big wins!<br>
              In order to enter raffles you must complete challenges placed throughout our site to earn tickets!<br><br>
              Complete challenges such as:
            <ul>
              <li>Creating your profile</li>
              <li>Filling out our different surveys</li>
              <li>Referring a friend to sign up or another facility</li>
              <li>Creating a job listing</li>
              <li>And more!</li>
            </ul>
            In completing these challenges, you earn tickets that you can spend on raffles for prizes such as gift
            cards, platform discounts, and more! Start earning tickets today! <br>Check out our <a
              href="{% url 'profile' %}#raffles">Raffles</a> page to get started!</p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading6">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
              Bidding Specifics & Incrementation
            </button>
          </h2>
          <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
            data-bs-parent="#secondaryAccordian">
            <div class="accordion-body text-weight-light">
              <ul>
                <li>Listings are setup for convenience and ease of understanding for all users of The Traveling
                  Therapist with
                  the below parameters in place. Recall that bids represent the total value the clinician is willing to
                  accept
                  to complete the temporary job as posted by the healthcare facility.</li>
                <li>Clinicians may only bid whole dollar values</li>
                <li>The maximum value for any bid is $100,000</li>
                <li>From the 2nd bid onward, bids are subject to incrementation based on the value of the current lowest
                  bid
                  as listed in the listing highlights bar
                  <ul>
                    <li><img class="status-bar" src="/media/images/status_bar.png" alt="Status bar">
                  </ul>
                </li>
                </li>
                <li>Bids above $25,000 can only be lowered in increments of $500</li>
                <li>Bids between 10,000 and 25,000 can only be lowered in increments of $250</li>
                <li>Bids below $10,000 and can only be lowered in increments of $250</li>
                <li>The Traveling Therapist does not offer automatic/proxy bidding</li>
                <li>Bids placed in the final minute of an listing add 60s to the timer and end of the listing to be fair
                  to
                  all clinicians interested</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading7">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
              What is the reserve price?
            </button>
          </h2>
          <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
            data-bs-parent="#secondaryAccordian">
            <div class="accordion-body text-weight-light">
              <ul>
                <li>The reserve price is an optional field available to healthcare facilities when creating a posting.
                </li>
                <li>The reserve price is the maximum amount a healthcare facility is willing to pay a clinician to
                  cover the temporary posting that has been listed.</li>
                <li>If a reserve price is not met by the posting end date, the posting is closed, and NO winner/match is
                  assigned. All clinicians with offers and the healthcare facility that posted the position are notified
                  by email indicating that the reserve price was not met.</li>
                <li>In our experience, listings without reserve prices generally tend to attract more bidders, but we
                  leave the decision to or not to set a reserve price up to the facility creating the posting.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading8">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
              I created my ad for a temporary position, why don't I see my ad on the site?
            </button>
          </h2>
          <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Before any listing can go live on our site, our team reviews the ad/posting contents and connects with you
              as
              the healthcare facility
              owner to collect a payment method which we use to pay for your listing upon matching with the lowest
              bidder.
              <br /><br />
              This serves the dual function of ensuring all our ads are for actual positions available and ensures that
              clinicians can
              only bid on listings that meet their scope of practice.
              <br /><br />
              Approval generally takes 24-48h from the time you created the listing and you will receive an email from
              us when
              your
              listing is live!
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading9">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
              How is my total cost calculated for fee split listings?
            </button>
          </h2>
          <div id="collapse9" name="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Healthcare facilities are invoiced $25+HST per day the contract is set to cover for, inclusive of the
              start and end date. This means if the coverage is for 8 weeks, the invoice would be $1,400+HST (25/day *56
              days). Fee split listings have the same floor and ceiling prices as fixed fee listings at $300+HST and
              $5,000+HST respectively. This means any fee split posting shorter than 12 days of coverage are still
              invoiced $300+HST and those longer than 200 days are invoiced $5,000+HST.
              <br><br>
              Please note that the number of days of coverage does not necessarily equal the number of days you have
              your healthcare worker set to work for. In the above example, the coverage and invoice total is 56 days.
              Irrespective of how many of those days you have your worker set to work for.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading12">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
              I see listings for other provinces, can I place bids on those listings too?
            </button>
          </h2>
          <div id="collapse12" class="accordion-collapse collapse" aria-labelledby="heading12"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Check with your professional governing body and insurance provider first. Some professions allow this,
              while
              others do not. The Traveling Therapist allows bids on listings outside of your province, but the
              responsibility
              is on the clinician to ensure they are legally able to perform that work that they are bidding on. See
              full
              details on your responsibilities as a bidder in our
              <span type="button" data-bs-toggle="modal" data-bs-target="#tandcModalAbout2"
                class="mb-0 text-primary-colour">Terms & Conditions</span>.
              {% include 'auction/modal_terms_and_conditions.html' with id='tandcModalAbout2' %}
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading13">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
              I am an unregulated Healthcare Professional. What do I need to know before using The Traveling Therapist?
            </button>
          </h2>
          <div id="collapse13" class="accordion-collapse collapse" aria-labelledby="heading13"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              Please see our <a href="https://www.youtube.com/watch?v=CHEZcJaw49E&t=5s" target="_blank">FAQ video</a> to
              understand how "The Traveling Therapist" service works.
              <br><br>
              The process for using The Traveling Therapist is much the same as it would be for a regulated Healthcare
              worker. A consideration we have come across for some using our service is the fact that you might work as
              both a PTA and a PSW. If this is the case, you will need to create a separate account for each user type
              when using The Traveling Therapist. This is because a PTA cannot bid on a PSW posting, and vice versa.
              <br><br>
              Please ensure you read the <a data-bs-toggle="modal" data-bs-target="#tandcModal" class="mb-0">Terms &
                Conditions</a> so you understand your responsibilities in advance of using our service. This includes
              ensuring you are register as the correct user type when you sign up to ensure you can only bid on listings
              relevant to you.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading14">
            <button class="accordion-button text-weight-normal collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
              Where does clinician candidate pool come from?
            </button>
          </h2>
          <div id="collapse14" class="accordion-collapse collapse" aria-labelledby="heading14"
            data-bs-parent="#secondaryAccordian">
            <p class="accordion-body text-weight-light">
              The Traveling Therapist uses advertisements to collect healthcare workers from all across Canada. These
              users sign
              up for free on our
              site, and are eligible to post an offer on your listing for jobs for their specific profession only. This
              means a physiotherapist from Ontario can only put offers on physiotherapist postings. We are continually
              onboarding new healthcare professionals every week, and have almost 100 users on our service so far!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Outside Accordian -->
</div>

<!-- Content End -->
<script src="{% static 'auction/faq.js' %}"></script>
{% endblock %}