<footer class="p-3 pt-5 bg-light text-center">
    <h5 class="text-weight-normal">Quick Links</h5>
    <div class="d-flex flex-column gap-2">
        <a href="{% url 'about' %}" class="link-dark text-decoration-none">How it Works</a>
        <a href="{% url 'contact-us' %}" class="link-dark text-decoration-none">Contact</a>
        <!-- Button trigger Terms & Conditions modal -->
        <p type="button" data-bs-toggle="modal" data-bs-target="#tandcModal" class="mb-0">Terms & Conditions</p>
        {% include 'auction/modal_terms_and_conditions.html' with id='tandcModal' %}
        <!-- Button trigger Privacy Policy modal -->
        <p type="button" data-bs-toggle="modal" data-bs-target="#privacyModal">Privacy Policy</p>
        {% include 'auction/modal_privacy_policy.html' with id='privacyModal' %}
    </div>

    <p class="mt-4 text-weight-light">&copy; <span id="current-year"></span> | The Traveling Therapist</p>
</footer>