{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<p id="pageTitle" class="d-none">How_It_Works</p>

<div class="container" style="background-color: rgba(0, 0, 0, 0);">
    <div class=" row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">How It Works</h1>
        </div>
    </div>
    <div class="row text-center">
        <h2><i>Find a quality candidate in <b>3 Easy Steps</b></i></h2>
    </div>
    <div class="row howItWorksRowDiv">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <img src="/media/images/TTT_HowitWorks Icon1.png" class="m-2" alt="Price" width="100px" height="100px">
            <h4><b>STEP 1: Post an Ad</b></h4>
            <p class="fs-5">Healthcare facilities post an auction using the Traveling Therapist's easy to use auction
                creation tool.</p>
        </div>
        <!-- Video iframe section -->
        <div class="col-12 col-md-7 order-2 order-md-1">
            <div class="ratio ratio-16x9">
                <iframe class="howItWorksiFrame"
                    src="https://www.youtube.com/embed/o5dIt7sF_Fc?si=puBz5iHx0blO5Ia4&amp;controls=0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <hr>
    <div class="row howItWorksRowDiv">
        <div class="col-md-1 d-none d-md-block"></div>
        <!-- Text section -->
        <div class="col-12 col-md-4 order-1 order-md-2">
            <img src="/media/images/TTT_HowitWorks Icon2.png" class="m-2" alt="Price" width="100px" height="100px">
            <h4><b>STEP 2: Bid</b></h4>
            <p class="fs-5">Healthcare workers bid with the price they are willing to complete the contract for</p>
        </div>
        <!-- Video iframe section -->
        <div class="col-12 col-md-7 order-2 order-md-1">
            <div class="ratio ratio-16x9">
                <iframe class="howItWorksiFrame"
                    src="https://www.youtube.com/embed/IE6vYY2Xx3E?si=JDPAePqGXSav0vSA&amp;controls=0"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-4">
        <div class="col-lg-2 col-xxl-1 p-2"><img src="/media/images/TTT_HowitWorks Icon3.png" alt="Price" width="100px"
                height="100px"></div>
        <div class="col-lg-10 col-xxl-11">
            <h4><b>STEP 3: Match</b></h4>
            <p class="fs-5">Lowest bidder is matched with the facility</p>
            <ul class="fs-5">
                <li>Healthcare facilities receive an email confirming a match has been made and provide credit card for
                    processing or direct payment via bank/e-transfer. once payment is received, we release the details
                    of your match to you!</li>
                <li>Healthcare workers, we will also contact you if you were bidding on the posting to let you know if
                    you were the lowest bidder or not. If you are, hang tight, once we receive payment from the
                    facility, we will share your information with the contact person at the facility!</li>
            </ul>
        </div>
    </div>
    <div class="row text-center mt-4">
        <h1><b>Free listings</b> for healthcare facilities, <b>free bidding</b> for Healthcare Providers!</h1>
        <h3>Have questions? <a href="{% url 'faq' %}" class="link-dark">Check out our FAQ page.</a></h3>
    </div>

</div>
<script src="{% static 'auction/why-use.js' %}"></script>
{% endblock %}