{% extends 'auction/base.html' %}
{% csrf_token %}s
{% load static %}
{% block content %}
<!-- Content Start -->
<p id="pageTitle" class="d-none">Home</p>
<div class="row pb-3">
  <div class="col-md-7 pb-3">
    <iframe class="howItWorksiFrame" width="100%" height="315"
      src="https://www.youtube.com/embed/azRJvl9fbpY"
      title="The Traveling Therapist Service Overview" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div class="col-md-5 pb-3">
    <div class="d-flex align-items-center mb-3">
      <span class="material-icons medium">airport_shuttle</span>
      <h2 class="text-medium text-weight-normal">What is The Traveling Therapist?</h2>
    </div>
    <p class="text-weight-light">The best parts of job boards, agencies, and direct hiring—none of the headaches.
      <br><br>
      <b>The Traveling Therapist</b> connects healthcare facilities and clinicians for short-term contract work. We
      combine the
      speed of a job board, the reliability of an agency, and the control of direct hiring—without the middlemen, long
      waits, or high fees. Facilities keep care covered; clinicians earn more while gaining new experience; patients get
      uninterrupted service.
    </p>
  </div>
  <div id="whiteSpaceRow" class="row bg-white"></div>
  <div class="row">
    <div class="col">
      <div style="height: 25px;">

      </div>
      {% if user.is_authenticated %}
      {% if user.account.get_split_user_type == 'Clinic' %}
      <h1 id="welcomeClinicHeading" class="text-small text-weight-light text-md-end my-3">Welcome,
        {{user.account.clinicName }}
        </h>
        <style>
          .auction-fix {
            margin-top: 20px !important;
          }
        </style>
        <h2 class="text-large text-weight-normal auction-fix">Listings</h2>
        {% else %}
        <h1 id="welcomeTherapistHeading" class="text-small text-weight-light text-md-end my-3">Welcome,
          {{user.first_name }} {{user.last_name }}
          </h>
          <h2 class="text-large text-weight-normal auction-fix">Listings</h2>
          {% endif %}
          {% else %}
          <h1 class="text-large text-weight-normal auction-fix">Listings</h1>
          {% endif %}
    </div>
  </div>

  <!-- Modal -->
  <div id="modal" class="modal fade" id="allAuctionsModal" tabindex="-1" role="dialog"
    aria-labelledby="allAuctionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="allAuctionsModalLabel">All Listing Types</h5>
          <button id="modalXButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="dialog"></div>
        <div class="modal-body">
          Please note that you will only be able to offer on listings that correspond to your therapist type. If you are
          registered as multiple therapist types, please logout and sign in with a different account.
        </div>
        <div class="modal-footer">
          <form method="GET">
            {% if user.is_authenticated %}
            {% if user.account.get_split_user_type != 'Clinic' %}
            {% csrf_token %}
            <button id="allAuctionsButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              hx-post="{% url 'view-all-auctions' %}" hx-target='#auctionListDiv' hx-trigger="click">Proceed
              Anyway</button>
            <button id="cancelButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <!-- <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a> -->
            {% endif %}
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Start -->
  <form id="auctionSearchForm" method="POST" hx-post="{% url 'auction-search' %}" hx-target="#auctionListDiv" hx-trigger="submit">
    <div class="row">
      {% csrf_token %}
      <!-- Clinic Name -->
      <div class="col-md-3">
        <label class="form-label">Healthcare Facility Name</label>
        <input type="clinicInput" name="clinicInput" class="form-control"></input>
      </div>
      <!-- City -->
      <div class="col-md-3">
        <label class="form-label">City</label>
        <select name="citySelect" id="citySelect" class="form-control">
          <option value="0">--------</option>
          {% for city in cities %}
          <option value="{{city}}">{{ city }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Payment Type -->
      <div class="col-md-3">
        <label class="form-label">Payment Type</label>
        <select name="paymentTypeSelect" id="paymentTypeSelect" class="form-control">
          <option value="0">--------</option>
          {% for payment_type in payment_types %}
          <option value="{{payment_type}}">{{ payment_type }}</option>
          {% endfor %}
        </select>
      </div>
      <!-- Status -->
      <div class="col-md-3">
        <label class="form-label">Status</label>
        <select name="statusSelect" id="statusSelect" class="form-control">
          <option value="0">--------</option>
          <option value="Active">Active</option>
          <option value="Closed">Closed</option>
        </select>
      </div>
    </div>
    {% if user.is_authenticated %}
    {% if user.account.get_split_user_type != 'Clinic' %}
    <div class="row">
      <div class="col">
        <input id="searchAllCheckbox" name="searchAllCheckbox" type="checkbox"></input>
        <label class="form-label">Search all listing types. Users can only offer on the type of listing their profile is
          setup for.</label>
      </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="row">
      <div class="col-3">
        <button id="search" type="submit" class="btn btn-primary mt-2">Search</button>
      </div>
    </div>
  </form>
  <!-- Search End -->
  <!-- Start of auction loops  -->
  <div id="auctionListDiv" class="row mb-3">
    {% include 'auction/partials/auction_list.html' %}
    {% for auction in auctions %}
    {% if auction.is_effectively_closed %}
    {% include 'auction/card_past_auction.html' with auction=auction %}
    {% else %}
    {% include 'auction/card_active_auction.html' with auction=auction %}
    {% endif %}
    {% endfor %}
  </div>
  <!-- End of auction loops -->

  <!-- Content End -->
  <script src="{% static 'auction/index.js' %}?v=20260723-enter-search-fix-v1"></script>
  {% endblock %}