{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- Content Start -->
<main class="container">
  <div class="mt-3 row">
    <div class="col-8">
      <h1>The Travelling Therapist!??</h1>
    </div>
    {% if not user.is_authenticated %}
    <div class="col-4 text-end">
      <a href="#" class="btn btn-primary">Sign Up</a>
    </div>
    {% endif %}
  </div>
  <!-- Search Box Start -->
  <form method="GET">
    {{filter.form}}
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <!-- Search Box End -->

  <!-- Start of auction loops  -->

  <div class="row mb-5">
    {% for auction in filter.qs %}
    <div class="col-sm-6 col-lg-4">
      <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
        <div class="position-relative">
          {% if auction.clinic.imageOne %}
          <img src="/media/{{ auction.clinic.imageOne }}" class="card-img-top" alt="Image of Clinic">
          {% else %}
          <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
          {% endif %}
          <div class="d-inline-flex text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
            <time id="auctionTimer-{{ auction.auctionID }}" class="m-0 d-flex me-4"><img class="clock me-2"
                src="{% static 'auction/clock.svg' %}" alt="clock">--</time>
            <p class="m-0">Bid:<span class="ms-2">${{ auction.get_low_bid }}</span></p>
          </div>
        </div>
        <div class="card-body">
          <h2 class="card-title">{{ auction.clinic.clinicName }}</h2>
          <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
          <p class="text-weight-thin mb-0">{{ auction.clinic.userType }}</p>
          <p class="text-weight-thin">{{ auction.clinic.city }}, ON</p>
          <p class="card-text">{{ auction.clinic.about }}</p>
        </div>
      </a>
    </div>
    {% endfor %}


  </div>
  <!-- End of auction loops -->

</main>
<!-- Content End -->
<script src="{% static 'auction/index.js' %}"></script>
{% endblock %}
