{% extends 'auction/base.html' %}
{% block content %}
<!-- Content Start -->
<p id="pageTitle" class="d-none">Login</p>
<h1 class="text-center mb-5">Log In To The Traveling Therapist!</h1>

<!-- Login Box Start -->
<div class="row">
  <div class="col-md-6 offset-md-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <form action="" method=POST>
      {% csrf_token %}
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{% url 'password_reset' %}">Need help logging in?</a>
    <!-- Login Box End -->
  </div>
  <!-- Content End -->
</div>

{% endblock %}