{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<p id="pageTitle" class="d-none">Mission_Vision</p>

<div class="container" style="background-color: rgba(0, 0, 0, 0);">
    <div class=" row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Mission & Vision</h1>
        </div>
    </div>
    <div class="row">
        <p>We benefit healthcare workers & clinic owners by eliminating the countless inefficiencies of the existing healthcare staffing model. Clinic owners get access to clinicians, often on short notice when they need them most, and transparent costs, while healthcare workers benefit by choosing their desired rate of compensation for their own time.
            <br><br>
            The Traveling Therapist offers all the benefits of an agency but operating 24/7 with few of the overhead costs. We give clinics access to an ever growing database of health care workers to help them care for their clients, and clinicians the opportunity to fill their empty schedules, work with new clinical populations, grow their career.
            <br><br>
            This leads to happier clinic owners, happier clinicians, and of course better care for patients!
            Practitioners and Healthcare workers can use The Traveling Therapist to fill their empty schedules, bid a rate of compensation of their choice, work with new clinical populations, and grow their career.
            <br><br>
            Our service can help lead to happier clinic owners, happier clinicians, and of course better care for the patients too!
        </p>
    </div>
    <div id="missionVisionDiv" class="row mt-2">
        <div class="col-md-6 col-sm-12">
            <h2>Mission</h2>
            <p>Eliminate the countless inefficiencies of the existing healthcare staffing model with an easy to use online platform, accessible to clinicians and healthcare facility owners 24/7.</p>
        </div>
        <div class="col-md-6 col-sm-12">
            <h2>Vision</h2>
            <p>A world where better allocation of clinicians, and healthcare staffing improves the lives of:</p>
            <ol>
                <li>Healthcare facility owners, by minimizing their administrative burden</li>
                <li>Clinicians and practitioners by optimizing their time, energy and effort</li>
                <li>The patients who get better access to the quality care they deserve</li>
            </ol>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Our Story & Passion to Improve the World</h3>
        <div class="col-sm-12 col-lg-4">
            <img src="/media/images/Advertorial_IMG_1.jpg" class="whyUseImages img-fluid" alt="Therapist and patient shaking hands.">
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="truncate">
                <p>
                    While working as students at a private outpatient clinic, we saw countless instances of therapists calling in sick, having to cancel their day, and clinic owners seeking PTs, RMTs, etc. for short term contracts, therapists on mat leave, or to cover their expected and unexpected absences.
                    <br><br>
                    We know all too well the number of clinicians with gaps in their weekly schedule, who would love the autonomy to decide when they work, where they work, and their own rate of pay for the career they love.
                    <br><br>
                    We saw firsthand the administrative headache of clinic owners attempting to find PT, RMT, or other coverage for shifts or short term contracts using online job forums and postings.
                    <br><br>
                    Heartbreakingly, we also saw the faces of patients who needed care and had to cancel their appointments because of these absences. We are all aware of clinics that are booking many weeks, and patients who could really benefit from seeing a physiotherapist, PSW, or other healthcare practitioner today.
                    <br><br>
                    Imagine a world where better allocation of clinicians, and healthcare staffing improves upon all of these opportunities at once.
                    <br><br>
                    The Traveling Therapist set out to meet the needs of clinic owners and clinicians alike by creating an online healthcare staffing solution to fill schedule openings all while providing more congruent patient care in the process. Our online platform facilitates matches between these jobs and clinicians. The Traveling Therapist is fast, free to use, and we are onboarding more clinics and clinicians every day!
                    <br><br>
                    Develop your career, fill short term healthcare worker shortages, become a Traveling Therapist!
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>The Impact of Healthcare Worker Vacancies</h3>
        <div class="col-sm-12 col-lg-4">
            <img src="/media/images/Advertorial_IMG_2.jpg" class="whyUseImages img-fluid" alt="Therapist using computer.">
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="truncate">
                <p>
                    The OPA human health resources in the physiotherapy profession survey ran from May 30th to July 11th, 2022, and had 171 respondents with completed data from 146 organizations with multiple sites. This is the second iteration of the health human resource is in the physiotherapy profession survey, which first ran in May 2021. Although the results of this survey put a spotlight on some of the health human resource huge issues emerging in the profession and their impact, it is only a snapshot perspective. This survey demonstrates the need to further examine supply and demand issues in the physiotherapy health human resources, including how to overcome barriers to recruitment and retention to minimize vacancies in the physiotherapy profession.
                    <br><br>
                    <b>Demographics</b><br>
                    Most respondents worked in private practice 51% and hospitals 30%, followed by home care 8%. There was minimal representation from Primary Health care facilities 4% and no respondents who worked in long term care homes and retirement homes.
                    <br><br>
                    <b>Vacancies by Sector and Region</b><br>
                    Through this survey, 255 physiotherapist vacancies and 47 physiotherapist assistant vacancies were reported. Most physiotherapist vacancies were reported in private practice 100 and hospital sector 94 in acute care and rehabilitation centres, followed by home care 29. Most physiotherapist assistant vacancies were reported within hospital based acute care 30 and private practice 10.
                    When examining the region and area of these reported vacancies, most physiotherapist and physiotherapist assistant vacancies have been reported in urban areas. The majority of physiotherapist vacancies were reported in Toronto central, central Champlain, and southwest, which is similar to what was reported in the 2021 survey with the exception of the central region. The number of physiotherapist assistant vacancies were reported across the province equally with some slightly higher in the central region.
                    It is important to note that the vacancies reported are a purely count based analysis from respondents who chose to participate in this survey. We also do not have any baseline data to provide more context around these numbers, which limits our ability to draw conclusions on the magnitude of the impact of the number of vacancies reported.
                    <br><br>
                    <b>Impact of vacancies</b><br>
                    A substantial amount of qualitative feedback was received through this survey. Respondents described the impact that vacancies have had on their operations or practice, such as on things like human resources and capacity, staff workload, in direct patient care EG charting, direct patient care, etc. Some key takeaways are:
                <ul>
                    <li>There are significant challenges with meeting the demands with providing patient care with the shortage of human healthcare resources.</li>
                    <li>There has been an increase in workload hours, and caseload burden place to crossed existing staff</li>
                    <li>There is increased stress and burnout, which has contributed to increased time off EG sick leave, leave of absence, vacation,) and those leaving the profession</li>
                    <li>There is an impact on business growth, stability, and financial viability.</li>
                    <li>Employers feel the need to offer greater compensation to recruit and retrain</li>
                </ul>
                Among the most prominent strategies used to address challenges experienced with filling positions includes implementing a wait list for patients due to limited staffing to meet demand 61%, and increasing the number of hours or amount of workload of the existing staff at their site 55%
                <br><br>
                <b>Barriers for recruitment</b><br>
                The most prominent barriers or factors that contributed to the difficulties or challenges experienced with recruitment include:
                <ul>
                    <li>Low compensation and compensation inequality among sectors, providers slash organisations, settings, or regions</li>
                    <li>Competition between sectors and organizations eg with compensation, benefits packages, offering preferred work hours</li>
                    <li>Low supply of physiotherapists and a lack of applicants</li>
                    <li>Lack of qualifications and experience required for the role</li>
                    <li>Life factors such as cost of living, financial, housing, and employment opportunities for spouses (especially when moving to rural or northern areas)</li>
                </ul>
                <b>Conclusion</b><br>
                Health human resource issues have a significant impact on patient care and system performance. The results of this survey are informing next steps in a larger project that will more fully examine health human resource issues within the physiotherapy profession in Ontario. We have been collecting and will continue to collect and use this information and data to help support our advocacy and inform our stakeholder conversations. Our recent activities have been highlighted in the snapshot*
                <br><br>
                Opa.on.ca, autumn issue 2022
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-2">
        <a id="howItWorksButton" class="btn btn-primary btn-lg" href="{% url 'how-it-works' %}">Wondering How it Works?</a>
    </div>


</div>
<script src="{% static 'auction/why-use.js' %}"></script>
{% endblock %}