<!-- Modal -->
<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="tandcModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tandcModalLabel">Website Terms and Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="termsAndConditions" class="modal-body">
                {% include 'auction/terms_and_conditions_content.html' %}
            </div>
            <div class="modal-footer">
                <input type="checkbox" id="agreementCheckBox" name="agreementCheckBox" value="agreed">
                <label id="agreementCheckBoxLabel" for="agreementCheckBox"> I have read and agree with the
                    terms and
                    conditions.</label><br>
                <button type="button" id="termsActionButton" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>