<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="/media/images/TTT_LOGO.png" alt="Traveling Therapist Logo" class="img-fluid banner-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-weight-normal {% if path == 'home' %}active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-weight-normal" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        What's The Traveling Therapist?
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'about' %}">About</a></li>
                        <li><a class="dropdown-item" href="{% url 'how-it-works' %}">How it Works</a></li>
                        <li><a class="dropdown-item" href="{% url 'mission-vision' %}">Company Misson & Vision</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                {% if user.account.get_split_user_type == 'Clinic' %}
                <li class="nav-item">
                    <a class="nav-link text-weight-normal {% if path == 'create-auction' %}active{% endif %}" href="{% url 'create-auction' %}">Create Auction</a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link text-weight-normal {% if path == 'admin-summary' %}active{% endif %}" href="{% url 'admin-summary' %}">Admin Summary</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link text-weight-normal {% if path == 'profile' %}active{% endif %}" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-weight-normal" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-weight-normal {% if path == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary {% if path == 'register' %}active{% endif %}" href="{% url 'register' %}">Sign Up Free</a>
                </li>
                {% endif %}
            </ul>
            <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>