{% extends 'auction/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Clinic -->
<!-- Content Start -->
{% if user.account.get_split_user_type == 'Clinic' %}
<div class="row">
  <div>
    <ul class="nav nav-tabs" id="therapistProfile" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link active" id="auction-tab" data-bs-toggle="tab" data-bs-target="#auction-history"
          type="button" role="tab" aria-controls="auction-history" aria-selected="true">Auction History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
          role="tab" aria-controls="profile" aria-selected="false">Update Profile</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link" id="create-auction-tab" data-bs-toggle="tab" data-bs-target="#create-auction"
          type="button" role="tab" aria-controls="create-auction" aria-selected="false">Create Auction</button>
      </li>
    </ul>
    <div class="tab-content" id="therapistProfileContent">
      <div class="tab-pane fade show active p-3" id="auction-history" role="tabpanel" aria-labelledby="auction-tab">

        {% if num_pending > 0 %}
        <h2 class="mb-4">Auctions Pending Approval</h2>
        <div class="row mb-5">
          {% for auction in pending_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
              <div class="position-relative">
                {% if auction.clinic.imageTwo %}
                <img src="/media/{{ auction.clinic.imageOne }}" class="card-img-top" alt="Image of Clinic">
                {% else %}
                <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
                {% endif %}
                <div
                  class="d-inline-flex text-align-center text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
                  <span class="material-icons small text-white">schedule</span>
                  <p class="m-0 text-white align-self-center">Pending Approval</p>
                </div>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinic.clinicName }}</h2>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">{{ auction.clinic.userType }}</p>
                <p class="text-weight-thin">{{ auction.clinic.city }}, ON</p>
                <p class="card-text">{{ auction.clinic.about }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}

        <h2 class="mb-4">Live Auctions</h2>
        <div class="row mb-5">
          {% for auction in active_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
              <div class="position-relative">
                {% if auction.clinic.imageTwo %}
                <img src="/media/{{ auction.clinic.imageOne }}" class="card-img-top" alt="Image of Clinic">
                {% else %}
                <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
                {% endif %}
                <div
                  class="d-inline-flex text-align-center text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
                  <span class="material-icons small text-white align-self-center">schedule</span><time
                    id="auctionTimer-{{ auction.auctionID }}"
                    class="m-0 d-flex me-3 text-white align-self-center">--</time>
                  <p class="m-0 text-white align-self-center">{{ auction.get_bid }}</p>
                  <p class="m-0 mx-4 d-none d-lg-block text-white align-self-center">
                    # Bids:<span class="ms-2 text-white align-self-center">{{ auction.get_num_bids }}</span></p>
                </div>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinic.clinicName }}</h2>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">{{ auction.clinic.userType }}</p>
                <p class="text-weight-thin">{{ auction.clinic.city }}, ON</p>
                <p class="card-text">{{ auction.clinic.about }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>

        <h2 class="mb-4">Past Auctions</h2>
        <div class="row mb-5">
          {% for auction in past_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <div class="card mt-4 text-decoration-none text-dark">
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinic.clinicName }}</h2>
                <div class="d-inline-flex text-white bg-dark p-2 rounded mb-2">
                  <p class="m-0 text-white">Winning Bid:<span class="ms-2 text-white">${{auction.winningPrice}}</span>
                  </p>
                  <p class="m-0 ms-4 text-white"># Bids:<span class="ms-2 text-white">{{auction.get_num_bids}}</span>
                  </p>
                </div>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">Physiotherapist</p>
                <p class="text-weight-thin mb-0">{{ auction.clinic.city }}, ON</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="tab-pane fade show active p-3" id="profile" role="tabpanel" aria-labelledby="home-tab">
          <h2 class="mb-4">Update Profile</h2>
          <div class="row">
            <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
              {% csrf_token %}
              {{ u_form | crispy }}
              <div class="row">
                 <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.clinicName | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.city | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.province | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ p_form.about | as_crispy_field }}</span>
                </div>
              </div>

                <div class="row">
                 <div class="mb-3">
                  <span class="clinicField">{{ p_form.imageOne | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ p_form.imageTwo | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ p_form.imageThree | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ p_form.imageFour | as_crispy_field }}</span>
                </div>
              </div>

              <h5 class="clinicField">Clinic Demographics</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.underEighteen | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.eighteenToSixtyFive | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.overSixtyFive | as_crispy_field }}</span>
                </div>
              </div>
              <h5 class="clinicField">Clinic Areas of Practice</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.MSK | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.neuro | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ p_form.cardioResp | as_crispy_field }}</span>
                </div>
              </div>
              
              <div>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
            <hr>
            <div>
              <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade show" id="create-auction" role="tabpanel" aria-labelledby="create-auction-tab">
        <div class="tab-pane fade show active p-3" id="create-auction" role="tabpanel"
          aria-labelledby="create-auction-tab">
          <p>{{showForm}}</p>
          {% if show_form %}
          <form method="post" class="p-md-5">
            <h2 class="mb-4">Create New Auction Post</h2>
            {% csrf_token %}
            <div class="row">
              <div class="mb-3 col-md-6">
                {{ form.placementStart|as_crispy_field }}
              </div>
              <div class="mb-3 col-md-6">
                {{ form.placementEnd|as_crispy_field }}
              </div>
              <div class="mb-3 col-md-6">
                {{ form.reservePrice|as_crispy_field }}
              </div>
              <div class="mb-3 col-md-6">
                {{ form.payFrequency|as_crispy_field }}
              </div>
              <div class="mb-3">
                <h3 class="fs-5">Therapist Schedule <span class="text-weight-thin fs-6">*leave day blank if clinic is
                    closed</span>
                </h3>

                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Mon:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.mondayStart|as_crispy_field }}
                    {{ form.mondayEnd|as_crispy_field }}
                    <button id="mondayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Tue:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.tuesdayStart|as_crispy_field }}
                    {{ form.tuesdayEnd|as_crispy_field }}
                    <button id="tuessdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Wed:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.wednesdayStart|as_crispy_field }}
                    {{ form.wednesdayEnd|as_crispy_field }}
                    <button id="wednesdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Thu:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.thursdayStart|as_crispy_field }}
                    {{ form.thursdayEnd|as_crispy_field }}
                    <button id="thursdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Fri:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.fridayStart|as_crispy_field }}
                    {{ form.fridayEnd|as_crispy_field }}
                    <button id="fridayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Sat:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.saturdayStart|as_crispy_field }}
                    {{ form.saturdayEnd|as_crispy_field }}
                    <button id="saturdayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>
                <div class="input-group mb-3 align-items-center">
                  <span class="input-group-text me-3 mt-3 mt-md-4">Sun:</span>
                  <div class="d-flex gap-3 mt-2 mt-sm-0">
                    {{ form.sundayStart|as_crispy_field }}
                    {{ form.sundayEnd|as_crispy_field }}
                    <button id="sundayClearButton" class="btn btn-primary clearButton mt-4" type="button">Clear</button>
                  </div>
                </div>

              </div>
            </div>
            <div class="mb-3">
              {{ form.comments|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary">Create Auction</button>
        </div>
      </div>
      </form>
      {% else %}
      {% if max_forms > 1 %}
      <p>Only {{ max_forms }} active auctions are allowed at a time. Contact info@travelingtherapist.ca for more
        information on our Pro plan.</p>
      {% else %}
      <p>Only 1 active auction is allowed at a time. Contact info@travelingtherapist.ca for more
        information on our Pro plan.</p>
      {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% else %}
<!-- Content End -->
<!-- Therapist -->
<!-- Content Start -->

<div class="row">
  <div>
    <ul class="nav nav-tabs" id="therapistProfile" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link active" id="auction-tab" data-bs-toggle="tab" data-bs-target="#auction-history"
          type="button" role="tab" aria-controls="auction-history" aria-selected="true">Auction History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
          role="tab" aria-controls="profile" aria-selected="false">Update Profile</button>
      </li>
    </ul>
    <div class="tab-content" id="therapistProfileContent">
      <div class="tab-pane fade show active p-3" id="auction-history" role="tabpanel" aria-labelledby="auction-tab">
        <h2>Live Auctions</h2>
        <!-- <div class="row mb-5">
          {% for auction in active_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
              <div class="position-relative">
                {% if auction.imageTwo %}
                <img src="/media/{{ auction.imageOne }}" class="card-img-top" alt="Image of Clinic">
                {% else %}
                <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
                {% endif %}
                <div class="d-inline-flex text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
                  <time id="auctionTimer-{{ auction.auctionID }}" class="m-0 d-flex me-3"><img class="clock me-2"
                      src="{% static 'auction/clock.svg' %}" alt="clock">--</time>
                  <p class="m-0 text-white">Bid:<span class="ms-2">${{ auction.get_low_bid }}</span></p>
                </div>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinicName }}</h2>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">{{ auction.userType }}</p>
                <p class="text-weight-thin">{{ auction.city }}, ON</p>
                <p class="card-text">{{ auction.about }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div> -->
        <div class="row mb-5">
          {% for auction in active_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <a class="card mt-4 text-decoration-none text-dark" href="{% url 'auction' auction.auctionID %}">
              <div class="position-relative">
                {% if auction.clinic.imageTwo %}
                <img src="/media/{{ auction.clinic.imageOne }}" class="card-img-top" alt="Image of Clinic">
                {% else %}
                <img src="/media/images/no-image.jpg" class="card-img-top" alt="Image of Clinic">
                {% endif %}
                <div
                  class="d-inline-flex text-align-center text-white bg-dark p-2 rounded position-absolute bottom-0 start-0">
                  <span class="material-icons small text-white align-self-center">schedule</span><time
                    id="auctionTimer-{{ auction.auctionID }}"
                    class="m-0 d-flex me-3 text-white align-self-center">--</time>
                  <p class="m-0 text-white align-self-center">{{ auction.get_bid }}</p>
                  <p class="m-0 mx-4 d-none d-lg-block text-white align-self-center">
                    # Bids:<span class="ms-2 text-white align-self-center">{{ auction.get_num_bids }}</span></p>
                </div>
              </div>
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinicName }}</h2>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">{{ auction.clinic.userType }}</p>
                <p class="text-weight-thin">{{ auction.city }}, ON</p>
                <p class="card-text">{{ auction.about }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>

        <h2>Past Auctions</h2>
        <div class="row mb-5">
          {% for auction in past_auctions_list %}
          <div class="col-sm-6 col-lg-4">
            <div class="card mt-4 text-decoration-none text-dark">
              <div class="card-body">
                <h2 class="card-title">{{ auction.clinicName }}</h2>
                <div class="d-inline-flex text-white bg-dark p-2 rounded mb-2">
                  <p class="m-0 text-white">Winning Bid:<span class="ms-2 text-white">${{ auction.winningPrice }}</span>
                  </p>
                  <p class="m-0 ms-4 text-white"># Bids:<span class="ms-2 text-white">{{auction.get_num_bids}}</span>
                  </p>
                </div>
                <p class="text-weight-thin mb-0">{{ auction.placementStart }} - {{ auction.placementEnd }}</p>
                <p class="text-weight-thin mb-0">{{ auction.userType }}</p>
                <p class="text-weight-thin mb-0">{{ auction.city }}, ON</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="tab-pane fade show active p-3" id="profile" role="tabpanel" aria-labelledby="home-tab">
          <form method="post" class="d-flex flex-column gap-3">
            <h2 class="mb-4">Update Profile</h2>
            {% csrf_token %}
            {{ u_form | crispy }}
            <div>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
            <hr>
            <div>
              <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Content End -->
{% endif %}
<script src="{% static 'auction/profile.js' %}"></script>
<script src="{% static 'auction/create_auction.js' %}"></script>
{% endblock %}