{% extends 'auction/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}
<!-- Clinic -->
<!-- Content Start -->
{% if user.account.get_split_user_type == 'Clinic' %}
<div class="row">
  <div>
    <ul class="nav nav-tabs" id="therapistProfile" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link active" id="auction-tab" data-bs-toggle="tab" data-bs-target="#auction-history"
          type="button" role="tab" aria-controls="auction-history" aria-selected="true">Auction History</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="btn-lg nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
          role="tab" aria-controls="profile" aria-selected="false">Update Profile</button>
      </li>
    </ul>
    <div class="tab-content" id="therapistProfileContent">
      <div class="tab-pane fade show active p-3" id="auction-history" role="tabpanel" aria-labelledby="auction-tab">

        {% if num_pending > 0 %}
        <h2 class="mb-4">Auctions Pending Approval</h2>
        <div class="row mb-5">
          {% for auction in pending_auctions_list %}
          {% include 'auction/card_pending_approval_auction.html' with auction=auction %}
          {% endfor %}
        </div>
        {% endif %}

        <h2 class="mb-4">Live Auctions</h2>
        <div class="row mb-5">
          {% for auction in active_auctions_list %}
          {% include 'auction/card_active_auction.html' with auction=auction %}
          {% endfor %}
        </div>

        <h2 class="mb-4">Past Auctions</h2>
        <div class="row mb-5">
          {% for auction in past_auctions_list %}
          {% include 'auction/card_past_auction.html' with auction=auction %}
          {% endfor %}
        </div>
      </div>

      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="tab-pane fade show active p-3" id="profile" role="tabpanel" aria-labelledby="home-tab">
          <h2 class="mb-4">Update Profile</h2>
          <div class="row">
            <form method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3">
              {% csrf_token %}
              {{ user_clinic_form | as_crispy_errors }}
              {{ profile_clinic_form | as_crispy_errors }}
              {{ user_clinic_form | crispy }}
              <div class="row">
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.clinicName | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.city | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.province | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ profile_clinic_form.about | as_crispy_field }}</span>
                </div>
              </div>

              <div class="row">
                <div class="mb-3">
                  <span class="clinicField">{{ profile_clinic_form.imageOne | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ profile_clinic_form.imageTwo | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ profile_clinic_form.imageThree | as_crispy_field }}</span>
                </div>
                <div class="mb-3">
                  <span class="clinicField">{{ profile_clinic_form.imageFour | as_crispy_field }}</span>
                </div>
              </div>

              <h5 class="clinicField">Clinic Demographics</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.underEighteen | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.eighteenToSixtyFive | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.overSixtyFive | as_crispy_field }}</span>
                </div>
              </div>
              <h5 class="clinicField">Clinic Areas of Practice</h5>
              <div class="row">
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.MSK | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.neuro | as_crispy_field }}</span>
                </div>
                <div class="mb-3 col-md-4">
                  <span class="clinicField">{{ profile_clinic_form.cardioResp | as_crispy_field }}</span>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>
            <hr>
            <div>
              <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <!-- Content End -->
      <!-- Therapist -->
      <!-- Content Start -->

      <div class="row">
        <div>
          <ul class="nav nav-tabs" id="therapistProfile" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="btn-lg nav-link active" id="auction-tab" data-bs-toggle="tab"
                data-bs-target="#auction-history" type="button" role="tab" aria-controls="auction-history"
                aria-selected="true">Auction History</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="btn-lg nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false">Update Profile</button>
            </li>
          </ul>
          <div class="tab-content" id="therapistProfileContent">
            <div class="tab-pane fade show active p-3" id="auction-history" role="tabpanel"
              aria-labelledby="auction-tab">
              <h2>Live Auctions</h2>
              <div class="row mb-5">
                {% for auction in active_auctions_list %}
                {% include 'auction/card_active_auction.html' with auction=auction %}
                {% endfor %}
              </div>

              <h2>Past Auctions</h2>
              <div class="row mb-5">
                {% for auction in past_auctions_list %}
                {% include 'auction/card_past_auction.html' with auction=auction %}
                {% endfor %}
              </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="tab-pane fade show active p-3" id="profile" role="tabpanel" aria-labelledby="home-tab">
                <form method="post" class="d-flex flex-column gap-3">
                  <h2 class="mb-4">Update Profile</h2>
                  {% csrf_token %}
                  {{ user_therapist_form | crispy }}
                  <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                  </div>
                  <hr>
                  <div>
                    <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Content End -->
      {% endif %}
      <script src="{% static 'auction/profile.js' %}"></script>
      <script src="{% static 'auction/create_auction.js' %}"></script>
      {% else %}
      <p>You must be logged in to access this page. Please <a href="https://travelingtherapist.ca/login">login here</a>
      </p>
      {% endif %}
      {% endblock %}