{% extends 'auction/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Content Start -->
<div class="container mt-3 mb-5">
  <h1 class="text-center p-5">Register to Get Started With The Travelling Therapist!</h1>

  <!-- Register Box Start -->
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <!-- Physio Sign Up End -->


      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}
        <!-- {{ u_form | crispy }}
        {{ p_form | crispy }} -->

        <button type="submit">Submit New Post</button>
      </form>


      <!-- Physio Sign Up End -->
      <!-- Clinic Sign Up Start -->

      <!-- Clinic Sign Up End -->
    </div>
  </div>
  <!-- Register Box End -->
</div>
<!-- Content End -->
{% endblock %}