{% extends 'auction/base_new.html' %}
{% load static %}
{% block content %}
<!-- content -->
<style>
    body {
        background-image: url("/media/images/experimental_bg_header.png");
        background-repeat: no-repeat;
        background-color: #f8f9fa;
    }

    footer {
        margin-top: 20px;
    }
    
    .therapist-userbox {
        margin-top: 50px;
    }

    .therapist-userbox h2 {
        font-size: 24px;
        font-weight: 700;
        color: #333;
    }

    .therapist-userbox p {
        font-size: 16px;
        color: #666;
    }

    .provider-userbox {
        margin-top: 50px;
    }

    .provider-userbox h2 {
        font-size: 24px;
        font-weight: 700;
        color: #333;
    }

    .provider-userbox p {
        font-size: 16px;
        color: #666;
    }

    .collapse {
        display: none;
    }

    .divider {
        border-top: 1px solid #333;
        margin-top: 4vh;
        margin-bottom: 7vh;
    }

    .offset-lm-item {
        margin-bottom: 5vh
    }

    .offset-tm-item {
        margin-top: 5vh
    }

    .center-img {
        display: flex;
        justify-content: center;
    }

    .fixbottom {
        margin-bottom: 20px;
    }
</style>
<div class="container fixbottom" style="background-color: rgba(0, 0, 0, 0);">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Our Service Benefits</h1>
            <h5 class="text-center mb-5">I would like to see the benefits for...</h5>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 offset-md-3" style="display: flex; justify-content: space-between;">
                <div class="col-sm-1"></div>
                <button id="clinicButton" class="col-sm-4 selection-boxes d-flex flex-column align-items-center gap-2 p-4">
                    <img class="img-fluid" src="/media/images/clinic.png" alt="Clinic office as a cartoon">
                    <h4>Clinics</h4>
                </button>
                <div class="col-sm-2"></div>
                <button id="therapistButton" class="col-sm-4 selection-boxes d-flex flex-column align-items-center gap-2 p-3">
                    <img class="img-fluid" src="/media/images/therapy.png" alt="Healthcare Professional as a cartoon">
                    <h5>Healthcare Professionals</h5>
                </button>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
    <div class="row provider-userbox fixbottom">
        <div class="divider"></div>
        <div class="center">
            <h1 class="text-center mb-5 offset-lm-item">For clinics we are...</h1>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Fast</h2>
            <div class="center-img">
                <img src="/media/images/startup.png" alt="Rocket ship" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Create your profile, and post your auction in under 10 minutes.</li>
                <li>Auctions are live for 14 days, so you get a match quickly!</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Transparent</h2>
            <div class="center-img">
                <!-- this image requires attribution -->
                <img src="/media/images/like.png" alt="thumbs up" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Save the agency fees and expensive job board advertisements. Our prices start at $300 per match.</li>
                <li>Post your auction for free! We only invoice you if we get you a match!</li>
                <li>No hidden fees once your employee starts.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Customizable</h2>
            <div class="center-img">
                <img src="/media/images/price.png" alt="Price" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Select between full contract price and fee split for most practitioner types </li>
                <li>Create a posting for PT, RMT, PSW, Chiropractor, and many more!</li>
                <li>Set ceiling prices to keep your posting on budget.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Hassle free</h2>
            <div class="center-img">
                <img src="/media/images/hired.png" alt="Hands shaking" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Save time, and effort screening resumes and conducting interviews for your short term or contract hires.</li>
                <li>Once your ad is live, therapists bid on your posting for the next 14 days with no action needed on your side.</li>
                <li>Eliminate the agency middleman, back and forth calls, and haggling!</li>
            </ul>
        </div>
    </div>
    <div class="row therapist-userbox fixbottom">
        <div class="divider"></div>
        <div class="center">
            <h1 class="text-center mb-5">For practitioners we are...</h1>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Private</h2>
            <div class="center-img">
                <img src="/media/images/spy.png" alt="Incognito" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>We do not collect your license, personal or credit card information when you sign up</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Free</h2>
            <div class="center-img">
                <img src="/media/images/free.png" alt="Price tag" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Always free to create an account and bid!</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Flexible</h2>
            <div class="center-img">
                <img src="/media/images/leave.png" alt="Plane and calendar" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Determine your own schedule and price to work.</li>
                <li>Only bid on postings you are interested in.</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2 class="text-center offset-lm-item">Expanding Your Career</h2>
            <div class="center-img">
                <img src="/media/images/career-choice.png" alt="Person with arrows" width="100px" height="100px">
            </div>
            <ul class="text-center offset-tm-item">
                <li>Travel while you work by taking jobs in new locations.</li>
                <li>Serve new clinical populations.</li>
                <li>Network and build your career!</li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // hide userboxes
        $('.therapist-userbox').hide();
        $('.provider-userbox').hide();

        $('#therapistButton').click(function() {
            $('.therapist-userbox').show();
            $('.provider-userbox').hide();
            
            // make button green
            $('#therapistButton').css('background-color', '#0aeaa9');
            $('#clinicButton').css('background-color', '#fff');

            // scroll into view
            $('.therapist-userbox').get(0).scrollIntoView({
                behavior: 'smooth'
            });

            // attempt to fix cutting into footer
            $('.fixbottom').css('margin-bottom', '0');
        });

        $('#clinicButton').click(function() {
            $('.therapist-userbox').hide();
            $('.provider-userbox').show();

            // make button green
            $('#clinicButton').css('background-color', '#0aeaa9');
            $('#therapistButton').css('background-color', '#fff');

            // scroll into view
            $('.provider-userbox').get(0).scrollIntoView({
                behavior: 'smooth'
            });

            // attempt to fix cutting into footer
            $('.fixbottom').css('margin-bottom', '0');
        });
    });
</script>
{% endblock %}