{% extends 'auction/base.html' %}
{% load static %}
{% block content %}
<!-- content -->
<p id="pageTitle" class="d-none">What_Is_TTT</p>

<div class="container" style="background-color: rgba(0, 0, 0, 0);">
    <div class=" row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">What's The Traveling Therapist?</h1>
        </div>
    </div>
    <div class="row">
        <p><b>The Traveling Therapist</b> benefits both healthcare facilities <b>AND</b> workers by eliminating the countless inefficiencies of the existing healthcare staffing model. The Traveling Therapist offers all of the benefits of a recruiting agency, but operating 24/7 and with few of the overhead costs.
            <br><br>
            Healthcare facilities gain access to an ever growing database of clinicians, an online platform to quickly post their job openings from anywhere, and transparent costs with no hidden fees.
            <br><br>
            The Traveling Therapist also helps facilities benefit from a fast 14 day matching process, expediting their staffing process, and keeping their bottom line healthy in the process.
        </p>
    </div>
    <hr>
    <div class="row">
        <div class="row provider-userbox fixbottom">
            <div class="divider"></div>
            <div class="center">
                <h1 class="text-center">Healthcare Staffing Service Provider Comparison</h1>
                <h2 class="text-center">Who is The Traveling Therapist For?</h2>
                <h3 class="text-center mb-5 offset-lm-item">For clinics we are...</h3>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Fast</h2>
                <div class="center-img">
                    <img src="/media/images/startup.png" alt="Rocket ship" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Create your profile, and post your auction in under 10 minutes.</li>
                    <li>Auctions are live for 14 days, so you get a match quickly!</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Transparent</h2>
                <div class="center-img">
                    <!-- this image requires attribution -->
                    <img src="/media/images/like.png" alt="thumbs up" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Save the agency fees and expensive job board advertisements. Our prices start at $300 per match.</li>
                    <li>Post your auction for free! We only invoice you if we get you a match!</li>
                    <li>No hidden fees once your employee starts.</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Customizable</h2>
                <div class="center-img">
                    <img src="/media/images/price.png" alt="Price" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Select between full contract price and fee split for most practitioner types </li>
                    <li>Create a posting for PT, RMT, PSW, Chiropractor, and many more!</li>
                    <li>Set ceiling prices to keep your posting on budget.</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Hassle free</h2>
                <div class="center-img">
                    <img src="/media/images/hired.png" alt="Hands shaking" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Save time, and effort screening resumes and conducting interviews for your short term or contract hires.</li>
                    <li>Once your ad is live, therapists bid on your posting for the next 14 days with no action needed on your side.</li>
                    <li>Eliminate the agency middleman, back and forth calls, and haggling!</li>
                </ul>
            </div>
        </div>
        <div class="row therapist-userbox fixbottom">
            <div class="divider"></div>
            <div class="center">
                <h3 class="text-center mb-5">For practitioners we are...</h3>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Private</h2>
                <div class="center-img">
                    <img src="/media/images/spy.png" alt="Incognito" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>We do not collect your license, personal or credit card information when you sign up</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Free</h2>
                <div class="center-img">
                    <img src="/media/images/free.png" alt="Price tag" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Always free to create an account and bid!</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Flexible</h2>
                <div class="center-img">
                    <img src="/media/images/leave.png" alt="Plane and calendar" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Determine your own schedule and price to work.</li>
                    <li>Only bid on postings you are interested in.</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 class="text-center offset-lm-item">Expanding Your Career</h2>
                <div class="center-img">
                    <img src="/media/images/career-choice.png" alt="Person with arrows" width="100px" height="100px">
                </div>
                <ul class="text-center offset-tm-item">
                    <li>Travel while you work by taking jobs in new locations.</li>
                    <li>Serve new clinical populations.</li>
                    <li>Network and build your career!</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="whyUseCarousel" class="carousel slide" data-bs-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <h3 class="card-header">AGENCY</h3>
                        <div class="card-body whyUseCardBody">
                            <h4 class="card-title">SPEED & CONVENIENCE</h4>
                            <h6>What is the time required and process needed to hire a healthcare worker?</h6>
                            <h6 class="card-title">VERY SLOW</h6>
                            <ol>
                                <li>Research potential agencies</li>
                                <li>Hire an Agency</li>
                                <li>Call them & <b>wait</b></li>
                                <li>Hope they have a candidate interested in your job</li>
                                <li><b>WAIT</b> again</li>
                                <li>Back & forth communication to coordinate with <b>waiting</b> between each step</li>
                            </ol>
                            <hr>
                            <h5 class="card-title">COSTS</h5>
                            <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
                            <ul>
                                <li>Fee per match and/or a % spread between the cost to you and what the clinician receives</li>
                                <li>Clinic owners are blind to how much the clinician is paid</li>
                                <li>Clinic owners support the overhead costs of the people & operations of the agency</li>
                                <li>Agency middleman makes back and forth communication time & resource intensive for clinic owners</li>
                            </ul>
                            <hr>
                            <h5 class="card-title"><b>RESULT</b></h5>
                            <h6><b>SLOW & EXPENSIVE</b></h6>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 class="card-header">HEALTHCARE JOB BOARDS</h3>
                        <div class="card-body whyUseCardBody">
                            <h4 class="card-title">SPEED & CONVENIENCE</h4>
                            <h6>What is the time required and process needed to hire a healthcare worker?</h6>
                            <h6 class="card-title">SLOW</h6>
                            <ol>
                                <li>Which association or job board services will you use?</li>
                                <li>Membership required to post a job?</li>
                                <li>Sometimes clinic owners can post a job, otherwise the association has to do it for you.</li>
                                <li>Post your ad, hope someone relevant and qualified applies</li>
                                <li>Screen resumes, conduct interviews, etc. adding time you dont have as a clinic owner</li>
                            </ol>
                            <hr>
                            <h5 class="card-title">COSTS</h5>
                            <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
                            <ul>
                                <li>Pay fees to be a member & post + $600 OR MORE per job posting!</li>
                                <li>Clinic owners lose time & money posting their job, waiting for applicants, screening resumes, interviewing candidates, etc.</li>
                                <li>Does the new hire stay on your team?</li>
                                <li>If not, post another job for another $600+ & repeat!</li>
                                <li>Manage the complexity of posting for your different clinician types on different job boards, resulting in MORE lost time, money, & complexity</li>
                            </ul>
                            <hr>
                            <h5 class="card-title"><b>RESULT</b></h5>
                            <h6><b>CUMBERSOME & RESOURCE INTENSIVE</b></h6>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <h3 class="card-header"><img src="/media/images/TTT_LOGO.png" id="carouselLogo" alt="Traveling Therapist Logo" class="img-fluid banner-logo"></h3>
                        <div class="card-body whyUseCardBody">
                            <h4 class="card-title">SPEED & CONVENIENCE</h4>
                            <h6>What is the time required and process needed to hire a healthcare worker?</h6>
                            <h6 class="card-title">FAST</h6>
                            <ol>
                                <li><a href="{% url 'register' %}">Signup</a> for <b>FREE</b>, no membership fees for clinic owners to post a job</li>
                                <li>Create a job posting in < 10 min</li>
                                <li>Login to create new job postings anytime.</li>
                                <li>Job postings show immediately to the relevant clinicians so they can make you an offer!</li>
                                <li>At the end of an auction, you are matched to the <u>lowest bidder</u> within 48 hours</li>
                            </ol>
                            <hr>
                            <h5 class="card-title">COSTS</h5>
                            <h6>What are the upfront and & hidden costs to onboard that worker?</h6>
                            <ul>
                                <li><b>Transparent:</b> as low as $300/match with No hidden fees. See our <a href="{% url 'faq' %}">FAQ Page</a> for more details</li>
                                <li><b>Low Commitment:</b> We match you to a clinician in 14 days or re-post your ad for free</li>
                                <li><b>Bottom Line Efficiency:</b> We keep your staffing costs down by matching you to the lowest bidder at the end of your auction.</li>
                                <li>Online service = lower overhead costs. We pass the savings on to you!</li>
                            </ul>
                            <hr>
                            <h5 class="card-title"><b>RESULT</b></h5>
                            <h6><b>FAST, TRANSPARENT & FLEXIBLE SOLUTION FOR YOUR HEALTHCARE STAFFING NEEDS</b></h6>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#whyUseCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#whyUseCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="row">
        <table id="whyUseTable">
            <thead>
                <tr>
                    <th></th>
                    <th><b>AGENCY</b></th>
                    <th><b>HEALTHCARE JOB BOARDS</b></th>
                    <th><img src="/media/images/TTT_LOGO.png" id="whyUseTableLogo" alt="Traveling Therapist Logo" class="img-fluid banner-logo"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>SPEED & CONVENIENCE</b><br>
                        What is the time required and process needed to hire a healthcare worker?
                    </td>
                    <td>
                        <b class="cellTitle">VERY SLOW</b><br>
                        <ol>
                            <li>Research potential agencies</li>
                            <li>Hire an Agency</li>
                            <li>Call them & <b>wait</b></li>
                            <li>Hope they have a candidate interested in your job</li>
                            <li><b>WAIT</b> again</li>
                            <li>Back & forth communication to coordinate with <b>waiting</b> between each step</li>
                        </ol>
                    </td>
                    <td>
                        <b class="cellTitle">SLOW</b><br>
                        <ol>
                            <li>Which association or job board services will you use?</li>
                            <li>Membership required to post a job?</li>
                            <li>Sometimes clinic owners can post a job, otherwise the association has to do it for you.</li>
                            <li>Post your ad, hope someone relevant and qualified applies</li>
                            <li>Screen resumes, conduct interviews, etc. adding time you dont have as a clinic owner</li>
                        </ol>
                    </td>
                    <td>
                        <b class="cellTitle">FAST</b><br>
                        <ol>
                            <li><a href="{% url 'register' %}">Signup</a> for <b>FREE</b>, no membership fees for clinic owners to post a job</li>
                            <li>Create a job posting in < 10 min</li>
                            <li>Login to create new job postings anytime.</li>
                            <li>Job postings show immediately to the relevant clinicians so they can make you an offer!</li>
                            <li>At the end of an auction, you are matched to the <u>lowest bidder</u> within 48 hours</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>COSTS</b><br>
                        What are the upfront and & hidden costs to onboard that worker?
                    </td>
                    <td>
                        <ul>
                            <li>Fee per match and/or a % spread between the cost to you and what the clinician receives</li>
                            <li>Clinic owners are blind to how much the clinician is paid</li>
                            <li>Clinic owners support the overhead costs of the people & operations of the agency</li>
                            <li>Agency middleman makes back and forth communication time & resource intensive for clinic owners</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Pay fees to be a member & post + $600 OR MORE per job posting!</li>
                            <li>Clinic owners lose time & money posting their job, waiting for applicants, screening resumes, interviewing candidates, etc.</li>
                            <li>Does the new hire stay on your team?</li>
                            <li>If not, post another job for another $600+ & repeat!</li>
                            <li>Manage the complexity of posting for your different clinician types on different job boards, resulting in MORE lost time, money, & complexity</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><b>Transparent:</b> as low as $300/match with No hidden fees. See our <a href="{% url 'faq' %}">FAQ Page</a> for more details</li>
                            <li><b>Low Commitment:</b> We match you to a clinician in 14 days or re-post your ad for free</li>
                            <li><b>Bottom Line Efficiency:</b> We keep your staffing costs down by matching you to the lowest bidder at the end of your auction.</li>
                            <li>Online service = lower overhead costs. We pass the savings on to you!</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td><b>RESULT</b></td>
                    <td><b>SLOW & EXPENSIVE</b></td>
                    <td><b>CUMBERSOME & RESOURCE INTENSIVE</b></td>
                    <td><b>FAST, TRANSPARENT & FLEXIBLE SOLUTION FOR YOUR HEALTHCARE STAFFING NEEDS</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'auction/why-use.js' %}"></script>
{% endblock %}